<template>
  <div class="create-agenda">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="box">
          <the-header  title="Agendar consulta" subtitle="Dentista" />
            <!--  <agenda-form agenda="dentist"></agenda-form> -->
            <section class="section is-warning" v-if="!formCompleted">
              <!-- quando os agendamentos forem cancelados novamente, descomentar da linha 10 a 22
              e comentar das linhas 23 a 68
              <div class="content">
                <div class="notification is-danger">
                  <strong>Marcação indisponível!</strong>
                  <p>
                    Estamos aguardando a aquisição do material odontológico para disponibilizar a agenda.
                  </p>
                  <p>Atenciosamente,<br>
                    Marília Guedes da Silveira Arrais
                  </p>
                </div> 
              </div>
            </section> -->
              <div class="content">
                <p>
                  Para marcar a consulta, você precisa responder o formulário
                  <a :href="form_odonto_link" target="_blank">disponível
                  aqui.</a> Caso você já tenha preenchido o seu formulário,
                  basta marcar as caixas abaixo Em seguida escolha dia e
                  horário para sua consulta odontológica no Campus.
                </p>
                <p>
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" v-model="formAnswered" />
                        Declaro que já preenchi o formulário necessário para
                        marcar a consulta odontológica.
                    </label>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" v-model="noShowDeclaration" />
                        Declaro que não comparecerei ao atendimento
                        odontológico se apresentar alguns sintomas
                        respiratórios ou doença infectocontagiosa.
                    </label>
                  </div>
                </div>

                <p style="margin-top:10px;">
                  <b-button @click="confirmForm" type="is-primary" expanded>
                    Quero marcar minha consulta
                  </b-button>
                </p>
              </div> <!-- content -->
            </section>

            <div class="notification is-danger"
              v-if="dentistAbsent">
              <strong>Marcação indisponível!</strong>
              <p>
                Os agendamentos para atendimentos odontológicos até a primeira semana de Julho já 
                foram preenchidos. No mês supracitado, de 10/07 até 29/07, a agenda estará 
                <strong>INDISPONÍVEL</strong> pois a dentista estará de férias. 
                No dia 31/07, as marcações serão disponibilizadas e as consultas retomadas em 01/08/23.
              </p>
              <p>Atenciosamente,<br>
                Marília Guedes da Silveira Arrais
              </p>
            </div> 

            <iframe
              v-if="formCompleted"
              :src="koalendar_odonto_link"
              width="100%"
              height="100%"
              frameborder="0"
              style="height:680px !important;"
              ></iframe>
        </div> <!-- box -->
      </div> <!-- column -->
      <div class="column">
        <div class="box sticky">
          <h2 class="title">Informações</h2>
          <div class="content">
          <ul>
            <li><strong>Informamos que não e permitida a marcação de duas consultas no mesmo período.</strong>
            Após o atendimento será realizado novo agendamento.</li>
            <li>O atendimento odontológico eletivo de pacientes com febre, diarreia,
            com sintomas de doenças do trato respitratório e outras doenças infectocontagiosas
            deve ser postergado atẽ a remissão do quadro infeccioso ou alérgico.</li>
            <li>Solicitamos que fique atento aos seus agendamentos, sejam pontuais
            com a hora programada e evitem aglomerações.</li>
            <li>Caso não possa comparecer à consulta, remarque com antecedência. Isso poderá
            ser feito no link enviado ao seu-email no momento da marcação. <span class="has-text-danger">Se houver
            falta à consulta, o tratamento será suspenso por 30 dias.</span></li>
            <li><strong>Lembre-se de trazer um documento oficial com foto no dia da consulta.</strong></li>
          </ul>
          <p>Quando terminar de marcar a consulta, você pode voltar pra página
          inicial, <a href="/">clicando aqui.</a></p>
          </div>

          <div class="content">
          </div> <!-- content -->
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
// import AgendaForm from '@/views/Agenda/components/AgendaForm'
import messages from '@/utils/messages'

export default {
  name: 'CreateAgenda',
  components: {
    // 'agenda-form': AgendaForm
  },
  data: function ()  {
    return {
      formAnswered: false,
      noShowDeclaration: false,
      formCompleted: false,
      dentistAbsent: false,
      koalendar_odonto_link: "https://koalendar.com/e/" + process.env.VUE_APP_KOALENDAR_ODONTO,
      form_odonto_link: process.env.VUE_APP_FORM_CONSULTA_ODONTO
    }
  },
  methods: {
    confirmForm () {
      if (this.formAnswered && this.noShowDeclaration)
        this.formCompleted = true
      else {
        messages.showSnackbar('Os dois campos são obrigatórios.', 'is-info')
        this.formCompleted = false
      }
    }
  },
  created () {
    this.$store.dispatch('toBegining')
  },
  computed: {
    step () {
      return this.$store.state.agenda.step
    }
  }
}
</script>

<style>
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 50px;
}
</style>
