<template>
  <div class="create-informatives">
    <the-header title="Criar informativo" />
    <informative-form :informative="informative" :isEditing="isEditing"></informative-form>
  </div>
</template>

<script>
import InformativeForm from '@/views/Admin/Informatives/components/InformativeForm'

export default {
  name: 'CreateInformatives',
  components: {
    'informative-form': InformativeForm
  },
  data: function ()  {
    return {
      informative: {},
      isEditing: false
    }
  }
}
</script>
