<template>
  <div class="agenda">
  <div class="columns is-centered">
    <div class="column is-four-fifths">
      <div class="box">
        <the-header  title="Solicitação de documentos para o Estágio" subtitle="Antes de ingressar no estágio" />
        <hr>
        <begin-internship-docs-form stage="inicio" />

      </div> <!-- box -->
    </div> <!-- column -->
  </div> <!-- columns -->
  </div>
</template>

<script>
import BeginInternshipDocsForm from '@/views/Students/components/BeginInternshipDocsForm'

export default {
  name: 'BeginInternshipDocs',
  components: {
    BeginInternshipDocsForm,
  },
  data: function ()  {
    return {}
  },
  created () {},
  methods: {},
  computed: {}
}
</script>

<style>
</style>
