<template>
  <div class="create-agenda">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="box">
          <the-header  title="Verifique qual seu e-mail institucional" subtitle="e-mail @aluno.ifce.edu.br" />
          <student-form section="academic-email"></student-form>
        </div>
      </div> <!-- column -->
      <div class="column">
        <div class="box sticky">
          <h2 class="title">Informações</h2>
          <div class="content">
            Digite no formulário ao lado os dados requisitados.
            Caso você tenha um e-mail institucional válido, o sistema
            irá apresentá-lo na tela. Caso o sistema indique que você
            não tem um e-mail institucional cadastrado, entre em contato conosco
            <router-link :to="{ name: 'create-tickets-ti' }">abrindo um chamado aqui</router-link>.
            Escolha a opção "Informar problema com e-mail Institucional".
          </div> <!-- content -->
          <h3 class="subtitle">Tutorial de acesso</h3>
          <div class="content">
            Acessando seu e-mail institucional <strong>pelo celular</strong>.
          </div> <!-- content -->
          <figure class="image has-text-centered">
            <iframe src="https://www.youtube.com/embed/0CXdR6FCbGQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </figure>

          <div class="content">
            Acessando seu e-mail institucional <strong>pelo computador</strong>.
          </div> <!-- content -->
          <figure class="image has-text-centered">
            <iframe  src="https://www.youtube.com/embed/QuLlkiou2FA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </figure>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
import StudentForm from '@/views/Students/components/StudentForm'

export default {
  name: 'CheckAcademicEmail',
  components: {
    'student-form': StudentForm
  },
  data: function ()  {
    return {
      product: {},
      isEditing: false
    }
  },
  created () {
    this.$store.dispatch('toBegining')
  },
  computed: {
    step () {
      return this.$store.state.agenda.step
    }
  }
}
</script>

<style>
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 50px;
}
</style>
