<template>
  <div class="agenda">
  <div class="columns is-centered">
    <div class="column is-four-fifths">
      <div class="box">
        <the-header  title="Solicitação de documentos para o Estágio" subtitle="Durante o Estágio" />
        <hr>
        <during-internship-docs-form stage="durante" />

      </div> <!-- box -->
    </div> <!-- column -->
  </div> <!-- columns -->
  </div>
</template>

<script>
import DuringInternshipDocsForm from '@/views/Students/components/DuringInternshipDocsForm'

export default {
  name: 'InternshipDocs',
  components: {
    DuringInternshipDocsForm,
  },
  data: function ()  {
    return {}
  },
  created () {},
  methods: {},
  computed: {}
}
</script>

<style>
</style>
