<template>
  <div class="agenda">
  <div class="columns is-centered">
    <div class="column is-four-fifths">
      <div class="box">
        <the-header  title="Solicitação de documentos para o Estágio" subtitle="Finalização do estágio" />
        <hr>
        <ending-internship-docs-form />

      </div> <!-- box -->
    </div> <!-- column -->
  </div> <!-- columns -->
  </div>
</template>

<script>
import EndingInternshipDocsForm from '@/views/Students/components/EndingInternshipDocsForm'

export default {
  name: 'InternshipDocs',
  components: {
    EndingInternshipDocsForm,
  },
  data: function ()  {
    return {}
  },
  created () {},
  methods: {},
  computed: {}
}
</script>

<style>
</style>
