<template>
  <div class="agenda">
  <div class="columns is-centered has-text-centered">
    <div class="column is-two-thirds">
    <div class="box">
      <the-header title="Alunos" subtitle="" />
      <div class="columns">
        <!--
        <div class="column has-text-centered">
          <the-box title="E-mail Institucional" link_to="check-academic-email" icon="email-outline" custom-class="is-shadowless" />
        </div>
        <div class="column">
          <the-box title="Solicitação de Diploma" link_to="request-degree" icon="file-certificate-outline" custom-class="is-shadowless" />
        </div>
        -->
        <div class="column">
          <the-box title="Solicitação de documentos para estágio" link_to="internship-docs" icon="briefcase-outline" custom-class="is-shadowless" />
        </div>
      </div> <!-- columns -->
    </div> <!-- box -->
    <the-back-button />
    </div> <!-- column -->
  </div> <!-- columns -->
  </div>
</template>

<script>
export default {
  name: 'IndexAgenda',
  data: function ()  {
    return {}
  },
  created () {},
  methods: {},
  computed: {}
}
</script>
