<template>
  <div class="agenda">
  <div class="columns is-centered has-text-centered">
    <div class="column is-two-thirds">
      <div class="box">
        <the-header  title="Solicitação de documentos para o Estágio" />
        <div class="columns">
          <div class="column has-text-centered">
            <the-box title="Antes de ingressar no Estágio" link_to="begin-internship-docs" icon="account-star-outline" custom-class="is-shadowless" />
          </div>
          <div class="column">
            <the-box title="Durante o Estágio" link_to="during-internship-docs" icon="account-convert-outline" custom-class="is-shadowless" />
          </div>
          <div class="column">
            <the-box title="Finalização do Estágio" link_to="ending-internship-docs" icon="account-tie-outline" custom-class="is-shadowless" />
          </div>
        </div><!-- columns -->

      </div> <!-- box -->
      <the-back-button />
    </div> <!-- column -->
  </div> <!-- columns -->
  </div>
</template>

<script>

export default {
  name: 'InternshipDocs',
  components: {},
  data: function ()  {
    return {}
  },
  created () {},
  methods: {},
  computed: {}
}
</script>

<style>
</style>
