<template>
  <div class="request-degree">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="box">
          <the-header  title="Solicitação de Diploma" />
          <request-degree-form />
        </div>
      </div> <!-- column -->
      <div class="column">
        <div class="box sticky">
          <h2 class="title">Informações</h2>
          <div class="content">
            Preencha o formulário ao lado, é necessário anexar os seguintes documentos:
            <ul>
              <li>Certidão de nascimento ou casamento;</li>
              <li>RG;</li>
              <li>CPF;</li>
              <li>Título de Eleitor;</li>
              <li>Certidão de Quitação com o Serviço Eleitoral;</li>
              <li>Carteira de Reservista (para homens a partir de 18 anos);</li>
              <li>Nada Consta da Biblioteca, da Coordenação de Assistência Estudantil e da Coordenação do Curso.</li>
            </ul>
            <p>
            Para agilizar a emissão do documento, verifique se todos os documentos anexados
            estão legíveis. Além disso, confira as informações preenchidas no formulário ao lado.
            </p>
          </div> <!-- content -->
          <h3 class="subtitle">Prazos para emissão</h3>
          <div class="content">
          <p>
            Após a conferência da documentação, o processo será aberto e será enviado para
            o e-mail cadastrado o número do processo e link para acompanhamento da
            solicitação".
          </p>
            <ul>
              <li>Curso de Graduação: 90 dias</li>
              <li>Cursos Técnicos:  60 dias</li>
            </ul>
          </div> <!-- content -->
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
import RequestDegreeForm from '@/views/Students/components/RequestDegreeForm'

export default {
  name: 'RequestDegree',
  components: {
    RequestDegreeForm
  },
  data: function ()  {
    return {}
  },
  created () {},
  methods: {},
  computed: {}
}
</script>

<style>
</style>
