<template>
  <div class="informative-form">
    <section class="section">
      <b-field label="Título">
        <b-input v-model="informative.title"></b-input>
      </b-field>
      <b-field label="Link">
        <b-input v-model="informative.link"></b-input>
      </b-field>
      <b-field label="Publicado em">
        <b-datepicker
          icon="calendar-today"
          v-model="informative.published_at"
          trap-focus>
        </b-datepicker>
      </b-field>

      <the-form-buttons v-on:save="save" v-on:cancel="cancel"></the-form-buttons>
    </section>
  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'InformativeForm',
  props: {
    informative: Object,
    isEditing: Boolean
  },
  data: function ()  {
    return {}
  },
  created () {
    if (this.isEditing) {
      this.informative.published_at = new Date(Date.parse(this.informative.published_at))
    }
  },
  components: {
    'the-form-buttons': TheFormButtons
  },
  methods: {
    save () {
      var payload = {
        csrftoken: this.$cookies.get('csrftoken'),
        title: this.informative.title,
        link: this.informative.link,
        published_at: this.informative.published_at
      }
      if (this.isEditing) {
        payload.id = this.$route.params.pk
        this.$store.dispatch('updateInformative', payload)
      } else {
        this.$store.dispatch('createInformative', payload)
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
