<template>
  <div class="users">
    <div class="columns">
      <div class="column is-2">
        <the-sidebar />
      </div> <!-- column -->
      <div class="column">
        <div class="box">
          <div class="level">
            <div class="level-left">
              <the-header title="Usuários" subtitle="cadastrados ao sistema" />
            </div> <!-- level-left -->
          </div>
          <the-admin-table
            :key="adminTableKey"
            :isLoading="isLoading"
            title="Usuários logados"
            perPage="20"
            :content="users"
            :columns="columns"
            v-on:createItem="createItem"
            v-on:readItem="readItem"
            v-on:updateItem="updateItem"
            v-on:deleteItem="deleteItem">
          </the-admin-table>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
export default {
  name: 'IndexUsers',
  data: function ()  {
    return {
      adminTableKey: 0,
    }
  },
  created () {
    this.$store.dispatch('getUsers')
  },
  methods: {
    forceRerender ()  {
      this.adminTableKey += 1
    },
    createItem: function () {
    },
    readItem: function (obj) {
      this.$router.push({ name: 'read-users', params: { pk: obj.id } })
    },
    updateItem: function (obj) {
      this.$router.push({ name: 'admin-update-users', params: { pk: obj.id } })
    },
    deleteItem: function (obj) {
      this.$buefy.dialog.alert({
        title: 'Erro',
        message: 'Não é possível remover usuário <b>' + obj.name + ' (' + obj.username + ')</b>' + ' do sistema.',
        type: 'is-danger',
        hasIcon: true,
        icon: 'alert-circle-outline',
        ariaRole: 'alertdialog',
        ariaModal: true
      })
    }
  },
  computed: {
    users () {
      return this.$store.state.users.users
    },
    columns () {
      return [
        {
          field: 'id',
          label: 'ID',
          numeric: true,
          sortable: true
        },
        {
          field: 'username',
          label: 'SIAPE/Matrícula',
          sortable: true
        },
        {
          field: 'name',
          label: 'Nome',
          sortable: true
        },
        {
          field: 'role',
          label: 'Papel',
          sortable: true
        },
        {
          field: 'sector',
          label: 'Setor',
          sortable: true
        },
        {
          field: 'updated_at',
          label: 'Atualizado em'
        }
      ]

    },
    isLoading () {
      return this.$store.state.users.loading
    },
    error () {
      return this.$store.state.users.error
    },
    errorMsg () {
      return this.$store.state.users.errorMsg
    }
  }
}
</script>
