<template>
  <div class="available-date">
    <div v-animate-css="'fadeIn'">
      <b-datepicker class="has-text-centered"
        v-model="choosenDate"
        :min-date="minDate"
        :max-date="maxDate"
        :unselectable-days-of-week="[0, 6]"
        @input="chooseDate"
        inline>
      </b-datepicker>
    </div> <!-- field -->
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import messages from '@/utils/messages'

export default {
  name: 'AvailableDate',
  props: {
    dateTime: String
  },
  data: function ()  {
    return {
      isLoading: false,
      isDateChoosed: false,
      choosenDate: new Date(),
      choosenDateTime: new Date(),
      minDate: new Date(),
      maxDate: new Date(),
      allDates: [],
      allAvailableHours: [],
    }
  },
  created () {
    this.checkDates()
  },
  components: {},
  methods: {
    save () {},
    cancel () {},
    chooseDate () {
      this.allAvailableHours = []
      this.checkAvailableHours(this.choosenDate)
      this.choosenDateTime.setDate(this.choosenDate.getDate())
      this.choosenDateTime.setMonth(this.choosenDate.getMonth())
      this.isDateChoosed = true
      this.$emit('dateChanged', [this.choosenDate, this.allDates])
      this.$store.dispatch('toStep', 1)
    },
    checkAvailableHours (cd) {
      for (let key in this.allDates) {
        var aux = new Date(this.allDates[key])
        if (cd.getDate() == aux.getDate()) {
          this.allAvailableHours.push(aux)
        }
      }
    },
    checkDates () {
      this.isLoading = true
      var message = ''
      var url = Vue.config.urlBase + '/api/agenda/disponibilidade'
      var options = {
        headers: {
          Accept: 'application/json',
        }
      }
      axios.get(url, options)
        .then(response => {
          this.allDates = response.data
          this.maxDate.setDate(this.maxDate.getDate() + 14)
          return response
        })
        .catch(error => {
          if (error.status == 500) {
            message = 'Requisição falhou: erro interno do servidor (500).'
            messages.showSnackbar(message, 'is-danger')
          } else if (error.status === 401) {
            message = 'Requisição falhou: não autorizado (401).'
            messages.showSnackbar(message, 'is-danger')
          } else if (error.status === 404) {
            message = 'Requisição falhou: recurso não encontrado (404).'
            messages.showSnackbar(message, 'is-danger')
          } else {
            message = 'Requisição falhou: ' + error.toString().split(':')[1] + '.'
            messages.showSnackbar(message, 'is-danger')
          }

          return error
        })
        .finally(() => {
          this.isLoading = false
          this.$store.dispatch('toStep', 1)
      })

    },

  },
  computed: {}
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="css">
.b-radio radio button{
  padding: 0px;
}
</style>
