<template>
  <div class="dentist-form">
    <student-data v-on:userChanged="userChanged($event, obj)" />

    <event-data v-if="student" v-on:eventDateTimeChanged="eventDateTimeChanged($event, obj)" />

    <schedule-resume
      v-if="student && eventDateTime"
      :key="scheduleResumeKey"
      :student="student"
      :eventDateTime="eventDateTime" />

    <div class="field"></div>
    <the-form-buttons v-on:save="save" v-on:cancel="cancel" :isDisabled="isDisabled"></the-form-buttons>

    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

import StudentData from '@/views/Agenda/components/StudentData'
import EventData from '@/views/Agenda/components/EventData'
import ScheduleResume from '@/views/Agenda/components/ScheduleResume'

export default {
  name: 'DentistForm',
  props: {
    agenda: String,
  },
  data: function ()  {
    return {
      obj: false,
      isDisabled: true,
      student: false,
      eventDateTime: false,
      scheduleResumeKey: 0
    }
  },
  created () {},
  components: {
    'the-form-buttons': TheFormButtons,
    'student-data': StudentData,
    'event-data': EventData,
    'schedule-resume': ScheduleResume,
  },
  methods: {
    forceRerender ()  {
      this.scheduleResumeKey += 1;
    },
    userChanged (obj) {
      this.student = obj
    },
    eventDateTimeChanged (obj) {
      this.eventDateTime = obj
      this.isDisabled = false
      this.forceRerender()
    },
    save () {
      var payload = {
        student: this.student,
        eventDateTime: this.eventDateTime
      }
      this.$store.dispatch('createEvent', payload)
    },
    cancel () {
      this.$router.go(-1)
    },
  },
  computed: {
    isAvailable () {
      return (this.student.studentregistration !== '') ? false : true
    },
    isLoading () {
      return this.$store.state.agenda.loading
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
