<template>
  <div class="user-form">
    <section class="section">
      <b-field label="SIAPE/Matrícula">
        <b-input v-model="user.username" disabled></b-input>
      </b-field>
      <b-field label="Nome">
        <b-input v-model="user.name" disabled></b-input>
      </b-field>

			<div class="block">
        <b-field label="Autorização no sistema"></b-field>
        <b-radio v-model="user.role"
          name="role"
          native-value="comum">
          Comum
        </b-radio>
        <b-radio v-model="user.role"
          name="role"
          native-value="manager">
          Gerente
        </b-radio>
        <b-radio v-model="user.role"
          name="role"
          native-value="admin">
          Administrador
        </b-radio>
      </div>
      <the-form-buttons v-on:save="save" v-on:cancel="cancel"></the-form-buttons>
    </section>
  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'UserForm',
  props: {
    user: Object,
    isEditing: Boolean
  },
  data: function ()  {
    return {}
  },
  created () {},
  components: {
    'the-form-buttons': TheFormButtons
  },
  methods: {
    save () {
      var payload = {
        csrftoken: this.$cookies.get('csrftoken'),
        username: this.user.username,
        name: this.user.name,
        role: this.user.role
      }
      if (this.isEditing) {
        payload.id = this.$route.params.pk
        this.$store.dispatch('updateUser', payload)
      } else {
        this.$store.dispatch('createUser', payload)
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
