<template>
  <div class="branch-form">
    <section class="section">
      <b-field label="Semestre atual">
        <b-input v-model="setting.current_semester"></b-input>
      </b-field>
      <b-field label="Primeiro dia de aula">
        <b-input v-model="setting.first_school_day"></b-input>
      </b-field>
      <b-field label="Último dia de aula">
        <b-input v-model="setting.last_school_day"></b-input>
      </b-field>

      <the-form-buttons v-on:save="save" v-on:cancel="cancel"></the-form-buttons>
    </section>
  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'SettingForm',
  props: {
    setting: Object,
    isEditing: Boolean
  },
  data: function ()  {
    return {}
  },
  created () {},
  components: {
    'the-form-buttons': TheFormButtons
  },
  methods: {
    save () {
      var payload = {
        csrftoken: this.$cookies.get('csrftoken'),
        current_semester: this.setting.current_semester,
        first_school_day: this.setting.first_school_day,
        last_school_day: this.setting.last_school_day
      }
      if (this.isEditing) {
        payload.id = this.$route.params.pk
        this.$store.dispatch('updateSetting', payload)
      } else {
        this.$store.dispatch('createSetting', payload)
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
