<template>
  <div class="create-products">
    <the-header title="Criar produto" />
    <product-form :product="product" :isEditing="isEditing"></product-form>
  </div>
</template>

<script>
import ProductForm from '@/views/Products/components/ProductForm' 

export default {
  name: 'CreateProducts',
  components: {
    'product-form': ProductForm
  },
  data: function ()  {
    return {
      product: {},
      isEditing: false
    }
  }
}
</script>
