<template>
  <div class="invoices">
    <the-header title="Faturas" subtitle="Faturas adicionados ao sistema" />
    <the-table 
      :isLoading="isLoading"
      title="Itens adicionados" 
      perPage="20"
      :content="invoices" 
      :columns="columns"
      v-on:createItem="createItem"
      v-on:readItem="readItem"
      v-on:updateItem="updateItem"
      v-on:deleteItem="deleteItem">
    </the-table>
  </div>
</template>

<script>
export default {
  name: 'IndexInvoices',
  data: function ()  {
    return {}
  },
  created () {
    this.$store.dispatch('getInvoices')
  },
  methods: {
    createItem: function () {
    },
    readItem: function (obj) {
      this.$router.push({ name: 'read-invoices', params: { pk: obj.id } })
    },
    updateItem: function (obj) {
      this.$router.push({ name: 'update-invoices', params: { pk: obj.id } })
    },
    deleteItem: function (obj) {
      console.log(this.$cookies.get('csrftoken'))
      obj.csrftoken = this.$cookies.get('csrftoken')
      this.$store.dispatch('deleteInvoice', obj)
      this.$store.dispatch('getInvoices')
    }
  },
  computed: {
    products () {
      return this.$store.state.invoices.invoices
    },
    columns () {
      return [
        {
          field: 'id',
          label: 'ID',
          numeric: true
        },
        {
          field: 'company_name',
          label: 'Empresa'
        },
        {
          field: 'total_price',
          label: 'Valor total',
          numeric: true,
          sortable: true
        },
        {
          field: 'created_at',
          label: 'Criado em'
        },
        {
          field: 'updated_at',
          label: 'Atualizado em'
        }
      ]
      
    },
    isLoading () {
      return this.$store.state.products.loading
    },
    error () {
      return this.$store.state.products.error
    },
    errorMsg () {
      return this.$store.state.products.errorMsg
    }
  }
}
</script>
