<template>
  <div class="profiles">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
        <div class="box">
          <div class="is-flex mb-20 is-horizontal-centered">
            <figure class="image is-128x128 is-centered">
              <img class="is-rounded has-text-centered" :src="profileImage" />
            </figure>
          </div> <!-- is-flex -->
          <h4 class="is-size-4">{{ profile.name }}</h4>
          <h5 class="is-size-5">{{ profile.username }}</h5>
          <h6 class="is-size-6 mb-20">{{ profile.responsability }}</h6>
          <div class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">SETOR</p>
                <p class="title is-size-5">{{ profile.sector }}</p>
              </div>
            </div> <!-- level-item -->
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">PRIMEIRO ACESSO</p>
                <p class="title is-size-5">{{ new Date(profile.created_at).toLocaleString('pt-BR') }}</p>
              </div>
            </div> <!-- level-item -->
          </div> <!-- level -->
          <hr>
          <div>
            <b-field class="has-text-left" label="Hora de trabalho">
              <b-input
                size="is-medium"
                v-model="profile.work_schedule"
                icon="clock">
              </b-input>
            </b-field>
            <b-field class="has-text-left" label="Horas por semana"></b-field>
            <div class="has-text-left mb-20">
              <b-radio
                size="is-medium"
                native-value="40"
                v-model="profile.work_load">
                40 Horas
              </b-radio>
              <b-radio
                size="is-medium"
                native-value="30"
                v-model="profile.work_load">
                30 Horas
              </b-radio>
            </div>
            <b-button
              type="is-primary"
              size="is-medium"
              @click="updateItem"
              expanded>
              Salvar
            </b-button>
          </div> <!-- form -->
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
export default {
  name: 'IndexUsers',
  data: function ()  {
    return {}
  },
  created () {
    var user = window.localStorage.getItem('user')
    this.$store.dispatch('getProfile', JSON.parse(user))
  },
  methods: {
    createItem: function () {},
    readItem: function () {},
    updateItem: function () {
      this.$store.dispatch('updateProfile', this.profile)
    },
    deleteItem: function (obj) {
      this.$buefy.dialog.alert({
        title: 'Erro',
        message: 'Não é possível remover usuário <b>' + obj.name + ' (' + obj.username + ')</b>' + ' do sistema.',
        type: 'is-danger',
        hasIcon: true,
        icon: 'alert-circle-outline',
        ariaRole: 'alertdialog',
        ariaModal: true
      })
    }
  },
  computed: {
    profile () {
      return this.$store.state.profiles.profile
    },
    profileImage () {
      var name = this.profile.email.split('@')[0].replace('.', ' ')
      return 'https://ui-avatars.com/api/?color=ffffff&background=32a041&size=128&name=' + name
    },
    isLoading () {
      return this.$store.state.profiles.loading
    },
    error () {
      return this.$store.state.profiles.error
    },
    errorMsg () {
      return this.$store.state.profiles.errorMsg
    }
  }
}
</script>

<style>
.is-horizontal-centered {
  justify-content: center;
}

.mb-20 {
  margin-bottom: 20px;
}
</style>
