<template>
  <div class="update-users">
    <div class="columns">
      <div class="column is-2">
        <the-sidebar />
      </div> <!-- column -->
      <div class="column">
        <div class="box">
          <the-header title="Atualizar usuário" />
          <user-form :user="user" :isEditing="isEditing"></user-form>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
import UserForm from '@/views/Admin/Users/components/UserForm'

export default {
  name: 'UpdateUsers',
  components: {
    'user-form': UserForm
  },
  data: function ()  {
    return {
      isEditing: true
    }
  },
  created () {
    this.$store.dispatch('getUser', this.$route.params.pk)
  },
  computed: {
    user () {
      return this.$store.state.users.user
    }
  },
  methods: {
    back() {
      this.$router.go(-1)
    }
  }

}
</script>
