<template>
  <div class="create-links">
    <div class="columns is-centered">
      <div class="column is-2">
        <the-sidebar />
      </div> <!-- column -->
      <div class="column">
        <div class="box">
          <the-header title="Cadastrar link" />
          <link-form :link="link" :isEditing="isEditing"></link-form>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
import LinkForm from '@/views/Admin/Links/components/LinkForm'

export default {
  name: 'CreateLink',
  components: {
    'link-form': LinkForm
  },
  data: function ()  {
    return {
      link: {},
      isEditing: false
    }
  }
}
</script>
