<template>
  <div class="update-links">
    <div class="columns">
      <div class="column is-2">
        <the-sidebar />
      </div> <!-- column -->
      <div class="column">
        <div class="box">
          <the-header title="Atualizar link" />
          <link-form :link="link" :isEditing="isEditing"></link-form>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
import LinkForm from '@/views/Admin/Links/components/LinkForm'

export default {
  name: 'UpdateLinks',
  components: {
    'link-form': LinkForm
  },
  data: function ()  {
    return {
      isEditing: true
    }
  },
  created () {
    this.$store.dispatch('getLink', this.$route.params.pk)
  },
  computed: {
    link () {
     return this.$store.state.links.link
    }
  },
  methods: {
    back() {
      this.$router.go(-1)
    }
  }

}
</script>
