<template>
  <div class="tickets">
  <div class="columns is-centered has-text-centered">
    <div class="column is-two-thirds">
    <div class="box">
      <the-header title="Abrir chamado" subtitle="" />
      <div class="columns">
        <div class="column has-text-centered">
          <a :href="link_central_de_atendimento_ti" target="_blank">
            <div class="box is-shadowless">
            <b-tooltip label="Clicar para ir a Central de Atendimento" position="is-bottom">
              <b-icon
                icon="laptop"
                size="is-large">
              </b-icon>
            </b-tooltip>
              <h4>
            <b-tooltip label="Clicar para ir a Central de Atendimento" position="is-bottom">
              Tecnologia da Informação
            </b-tooltip>
              </h4>
            </div> <!-- box -->
          </a>
        </div> <!-- column -->

        <div class="column has-text-centered">
          <a :href="link_central_de_atendimento_infra" target="_blank">
            <div class="box is-shadowless">
            <b-tooltip label="Clicar para ir a Central de Atendimento" position="is-bottom">
              <b-icon
                icon="wrench-outline"
                size="is-large">
              </b-icon>
            </b-tooltip>
              <h4>
            <b-tooltip label="Clicar para ir a Central de Atendimento" position="is-bottom">
              Infraestrutura e Transportes
            </b-tooltip>
              </h4>
            </div> <!-- box -->
          </a>
        </div> <!-- column -->
      </div> <!-- columns -->
    </div> <!-- box -->
    <the-back-button />
    </div> <!-- column -->
  </div> <!-- columns -->
  </div>
</template>

<script>
export default {
  name: 'IndexTickets',
  data: function ()  {
    return {
      link_central_de_atendimento_ti: 'https://suap.ifce.edu.br/centralservicos/selecionar_servico_abertura/tecnologia-da-informacao/?tab=suporte-tecnico-em-ti-computadores-impressoras-scaners-aplicativos',
      link_central_de_atendimento_infra: 'https://suap.ifce.edu.br/centralservicos/selecionar_servico_abertura/administracao/?tab=infraestrutura'
    }
  },
  created () {
    // this.$store.dispatch('getInformatives')
  },
  methods: {
    createItem: function () {
    },
  },
  computed: {
    /* informatives () {
      return this.$store.state.informatives.informatives
    },
    isLoading () {
      return this.$store.state.informatives.loading
    },
    error () {
      return this.$store.state.informatives.error
    },
    errorMsg () {
      return this.$store.state.informatives.errorMsg
    }*/
  }
}
</script>
