<template>
  <div class="create-clients">
    <the-header title="Cadastrar cliente" />
    <client-form :client="client" :isEditing="isEditing"></client-form>
  </div>
</template>

<script>
import ClientForm from '@/views/Clients/components/ClientForm' 

export default {
  name: 'CreateClients',
  components: {
    'client-form': ClientForm
  },
  data: function ()  {
    return {
      client: {},
      isEditing: false
    }
  }
}
</script>
