<template>
  <div class="clients">
    <the-header title="Clientes" subtitle="Clientes cadastrados ao sistema" />
    <the-table 
      :isLoading="isLoading"
      title="Clientes adicionados" 
      perPage="20"
      :content="clients" 
      :columns="columns"
      v-on:createItem="createItem"
      v-on:readItem="readItem"
      v-on:updateItem="updateItem"
      v-on:deleteItem="deleteItem">
    </the-table>
  </div>
</template>

<script>
export default {
  name: 'IndexClients',
  data: function ()  {
    return {}
  },
  created () {
    this.$store.dispatch('getClients')
  },
  methods: {
    createItem: function () {
    },
    readItem: function (obj) {
      this.$router.push({ name: 'read-clients', params: { pk: obj.id } })
    },
    updateItem: function (obj) {
      this.$router.push({ name: 'update-clients', params: { pk: obj.id } })
    },
    deleteItem: function (obj) {
      console.log(this.$cookies.get('csrftoken'))
      obj.csrftoken = this.$cookies.get('csrftoken')
      this.$store.dispatch('deleteClient', obj)
      this.$store.dispatch('getClients')
    }
  },
  computed: {
    clients () {
      return this.$store.state.clients.clients
    },
    columns () {
      return [
        {
          field: 'id',
          label: 'ID',
          numeric: true,
          sortable: true
        },
        {
          field: 'cnpj',
          label: 'CNPJ'
        },
        {
          field: 'name',
          label: 'Nome da empresa',
          sortable: true
        },
        {
          field: 'contact_name',
          label: 'Contato',
          sortable: true
        },
        {
          field: 'contact_phone',
          label: 'Telefone do contato',
        },
        {
          field: 'created_at',
          label: 'Criado em'
        },
        {
          field: 'updated_at',
          label: 'Atualizado em'
        }
      ]
      
    },
    isLoading () {
      return this.$store.state.clients.loading
    },
    error () {
      return this.$store.state.clients.error
    },
    errorMsg () {
      return this.$store.state.clients.errorMsg
    }
  }
}
</script>
