<template>
  <div class="client">
    <the-header title="Cliente" :subtitle="client.name"></the-header>
    <div class="columns">
      <div class="column">
        <the-card :value="client.contact_name" :updated_at="client.updated_at"></the-card>
      </div>
      <div class="column">
        <the-card :value="client.contact_email" :updated_at="client.updated_at"></the-card>
      </div>
      <div class="column">
        <the-card :value="client.contact_phone" :updated_at="client.updated_at"></the-card>
      </div>
    </div> <!-- columns -->
    <the-back-button />
  </div>
</template>

<script>
import TheBackButton from '@/components/TheBackButton'

export default {
  name: 'ReadClients',
  data: function ()  {
    return {}
  },
  created () {
    console.log(this.$route.params)
    this.$store.dispatch('getClient', this.$route.params.pk)
  },
  components: {
    'the-back-button': TheBackButton 
  },
  computed: {
    client () {
      return this.$store.state.clients.client[0]
    }
  },
  methods: {
    back() {
      this.$router.go(-1)
    }
  }
}
</script>
