<template>
  <div class="branch-form">
    <section class="section">
      <b-field label="Setor">
        <b-input v-model="branch.sector"></b-input>
      </b-field>
      <b-field label="Contatos">
        <b-input v-model="branch.contacts"></b-input>
      </b-field>
      <b-field label="Ramal">
        <b-input v-model="branch.branch_line"></b-input>
      </b-field>

      <the-form-buttons v-on:save="save" v-on:cancel="cancel"></the-form-buttons>
    </section>
  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'BranchForm',
  props: {
    branch: Object,
    isEditing: Boolean
  },
  data: function ()  {
    return {}
  },
  created () {},
  components: {
    'the-form-buttons': TheFormButtons
  },
  methods: {
    save () {
      var payload = {
        csrftoken: this.$cookies.get('csrftoken'),
        sector: this.branch.sector,
        contacts: this.branch.contacts,
        branch_line: this.branch.branch_line
      }
      if (this.isEditing) {
        payload.id = this.$route.params.pk
        this.$store.dispatch('updateBranch', payload)
      } else {
        this.$store.dispatch('createBranch', payload)
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
