<template>
  <div class="create-informatives">
    <div class="columns is-centered">
      <div class="column is-2">
        <the-sidebar />
      </div> <!-- column -->
      <div class="column">
        <div class="box">
          <the-header title="Cadastrar informativo" />
          <informative-form :informative="informative" :isEditing="isEditing"></informative-form>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
import InformativeForm from '@/views/Admin/Informatives/components/InformativeForm'

export default {
  name: 'CreateInformative',
  components: {
    'informative-form': InformativeForm
  },
  data: function ()  {
    return {
      informative: {},
      isEditing: false
    }
  }
}
</script>
