<template>
  <div class="update-informatives">
    <div class="columns">
      <div class="column is-2">
        <the-sidebar />
      </div> <!-- column -->
      <div class="column">
        <div class="box">
          <the-header title="Atualizar informativo" />
          <informative-form :informative="informative" :isEditing="isEditing"></informative-form>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
import InformativeForm from '@/views/Admin/Informatives/components/InformativeForm'

export default {
  name: 'UpdateInformatives',
  components: {
    'informative-form': InformativeForm
  },
  data: function ()  {
    return {
      isEditing: true,
      informative: {}
    }
  },
  created () {
    this.$store.dispatch('getInformative', this.$route.params.pk)
    this.informative =  this.$store.state.informatives.informative
  },
  computed: {},
  methods: {
    back() {
      this.$router.go(-1)
    }
  }

}
</script>
