<template>
  <div class="create-settings">
    <div class="columns is-centered">
      <div class="column is-2">
        <the-sidebar />
      </div> <!-- column -->
      <div class="column">
        <div class="box">
          <the-header title="Cadastrar ramal" />
          <setting-form :setting="setting" :isEditing="isEditing"></setting-form>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
import SettingForm from '@/views/Admin/Settings/components/SettingForm'

export default {
  name: 'CreateSetting',
  components: {
    'setting-form': SettingForm
  },
  data: function ()  {
    return {
      setting: {},
      isEditing: false
    }
  }
}
</script>
