<template>
  <div class="settings">
    <div class="columns">
      <div class="column is-2">
        <the-sidebar />
      </div> <!-- column -->
      <div class="column">
        <div class="box">
          <div class="level">
            <div class="level-left">
              <the-header title="Configurações" />
            </div> <!-- level-left -->
            <div class="level-right">
              <router-link
                v-if="settings"
                class="button is-primary"
                :to="{name: 'admin-create-settings'}">Nova configuração
              </router-link>
            </div> <!-- level-right -->
          </div>
          <the-admin-table
            :key="adminTableKey"
            :isLoading="isLoading"
            title="Configurações"
            perPage="20"
            :content="settings"
            :columns="columns"
            v-on:createItem="createItem"
            v-on:readItem="readItem"
            v-on:updateItem="updateItem"
            v-on:deleteItem="deleteItem">
          </the-admin-table>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
export default {
  name: 'IndexSettings',
  data: function ()  {
    return {
      adminTableKey: 0,
    }
  },
  created () {
    this.$store.dispatch('gs')
  },
  methods: {
    forceRerender ()  {
      this.adminTableKey += 1
    },
    createItem: function () {
    },
    readItem: function (obj) {
      this.$router.push({ name: 'read-settings', params: { pk: obj.id } })
    },
    updateItem: function (obj) {
      this.$router.push({ name: 'admin-update-settings', params: { pk: obj.id } })
    },
    deleteItem: function (obj) {
      this.$store.dispatch('deleteSetting', obj)
      this.forceRerender()
    }
  },
  computed: {
    settings () {
      return this.$store.state.settings.settings
    },
    columns () {
      return [
        {
          field: 'id',
          label: 'ID',
          numeric: true,
        },
        {
          field: 'current_semester',
          label: 'Semestre atual',
        },
        {
          field: 'first_school_day',
          label: 'Primeiro dia de aula',
        },
        {
          field: 'last_school_day',
          label: 'Último dia de aula',
        },
        {
          field: 'created_at',
          label: 'Criado em'
        },
        {
          field: 'updated_at',
          label: 'Atualizado em'
        }
      ]

    },
    isLoading () {
      return this.$store.state.settings.loading
    },
    error () {
      return this.$store.state.settings.error
    },
    errorMsg () {
      return this.$store.state.settings.errorMsg
    }
  }
}
</script>
