<template>
  <div class="update-settings">
    <div class="columns">
      <div class="column is-2">
        <the-sidebar />
      </div> <!-- column -->
      <div class="column">
        <div class="box">
          <the-header title="Atualizar configuração" />
          <setting-form :setting="setting" :isEditing="isEditing"></setting-form>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
import SettingForm from '@/views/Admin/Settings/components/SettingForm'

export default {
  name: 'UpdateSettinges',
  components: {
    'setting-form': SettingForm
  },
  data: function ()  {
    return {
      isEditing: true
    }
  },
  created () {
    this.$store.dispatch('getSetting', this.$route.params.pk)
  },
  computed: {
    setting () {
      return this.$store.state.settings.setting
    }
  },
  methods: {
    back() {
      this.$router.go(-1)
    }
  }

}
</script>
