<template>
  <div class="component-name">
    <h1>Component Name</h1>
  </div>
</template>

<script>
export default {
  name: 'ComponentName',
  props: {
    msg: String
  },
  data: function ()  {
    return {
      var1: Array
    }
  },
  created () {},
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
