<template>
  <div class="if-notifications" v-animate-css="'fadeIn'" v-if="notifications">
    <div class="box has-background-if-red has-text-white is-padding-5 is-shadowless is-radiusless has-text-centered">

      <div class="content is-vcentered">
        <b-icon icon="bullhorn"></b-icon>
        Atencao atencao... 
      </div> <!-- content -->
    </div> <!-- box -->
  </div>
</template>

<script>
export default {
  name: 'IFNotifications',
  props: {
    msg: String
  },
  data: function ()  {
    return {
    }
  },
  created () {
    // this.$store.dispatch('getSettings')
  },
  methods: {},
  computed: {
    notifications () {
      // return this.$store.state.notifications.notifications
      return false 
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.is-padding-5 {
  padding: 5px;
}
</style>
