<template>
  <div class="if-settings" v-animate-css="'fadeIn'" v-if="settings">
    <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false"></b-loading>
    <div class="box has-background-if-green">
      <div class="columns">

        <div class="column has-text-centered has-text-white">
          <p class="content is-marginless is-paddingless">Semestre atual</p>
          <p class="title has-text-white">{{ settings.current_semester }}</p>
        {{ settings.lenght }}
        </div>

        <div class="column has-text-centered has-text-white">
          <p class="content is-marginless is-paddingless">Primeiro dia letivo do semestre</p>
          <p class="title has-text-white">{{ settings.first_school_day }}</p>
        </div>

        <div class="column has-text-centered has-text-white">
          <p class="content is-marginless is-paddingless">Último dia letivo do semestre</p>
          <p class="title has-text-white">{{ settings.last_school_day }}</p>
        </div>

      </div> <!-- columns -->
    </div> <!-- box -->
  </div>
</template>

<script>
export default {
  name: 'IFSettings',
  data: function () {
    return {}
  },
  created () {
    this.$store.dispatch('getSettings')
  },
	/*
	updated: function() {
		var ref = this
		this.$nextTick(function () {
			if (typeof ref.$refs.settings != 'undefined') {
				ref.$refs.settings.hidden = true
			} else {
				ref.$refs.settings.hidden = false
			}
		})
  },
	*/
  methods: {},
  computed: {
    settings () {
      return this.$store.state.settings.settings
    },
    isLoading () {
      return this.$store.state.settings.loading
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
