<template>
  <div class="buttons">
    <b-button 
      type="is-warning"
      @click="back">
      Voltar 
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'TheBackButton',
  props: {},
  data: function ()  {
    return {}
  },
  created () {},
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
