<template>
  <section class="section">
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">Atenção</p>
    </header>
    <section class="modal-card-body">
      <p>Você está prestes a remover entrada de ID {{ obj.id }}.</p>
      <p>Essa ação não poderá ser desfeita. <strong>Você tem certeza?</strong></p>
    </section>
    <footer class="modal-card-foot">
      <b-button type="is-white" @click="$parent.close()">Cancelar</b-button>
      <b-button type="is-danger" @click="confirmDelete(obj)">Tenho certeza</b-button>
    </footer>
  </div>
  </section>
</template>

<script>
export default {
  name: 'TheDeleteModal',
  props: ['obj'],
  created () {},
  methods: {
    confirmDelete (obj) {
      this.$emit('confirmDelete', obj)
    },
    cancelDelete () {
      this.$emit('cancelDelete')
    }
  }
}
</script>

