<template>
  <div class="buttons">
    <b-button
      type="is-primary"
      :disabled="isDisabled"
      @click="save">
      Salvar
    </b-button>
    <b-button
      type="is-warning"
      @click="cancel">
      Cancelar
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'TheFormButtons',
  props: {
    isDisabled: Boolean
  },
  data: function ()  {
    return {}
  },
  created () {},
  methods: {
    save () {
      this.$emit('save')
    },
    cancel () {
      this.$emit('cancel')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
