<template>
  <div class="the-header">
    <section class="">
      <h2 class="title">{{ title }} </h2>
      <p class="subtitle" v-if="subtitle">{{ subtitle }}</p>
    </section>
  </div>
</template>

<script>
export default {
  name: 'TheHeader',
  props: {
    title: String,
    subtitle: String
  },
  data: function ()  {
    return {
      var1: Array
    }
  },
  created () {},
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="css">
.the-header {
  margin-bottom: 10px; 
}  
</style>
