<template>
  <div class="the-logo">
  <!-- Branding Image -->
    <router-link class="logo" :to="{ name: 'home' }">
      <img src="../assets/logo-ifce.jpg" alt="Intranet Campus" class="if-logo" />
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'TheLogo',
  props: {
    msg: String
  },
  data: function ()  {
    return {
      var1: Array
    }
  },
  created () {},
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
