<template>
	<div class="the-box">
    <router-link :to="{ name: link_to }" :alt="title">
			<div :class="['box', customClass]">
				<b-icon
					:icon="icon"
					size="is-large">
				</b-icon>
				<h4>
					{{ title }}
				</h4>
			</div> <!-- box -->
    </router-link>
  </div> <!-- the-box -->
</template>

<script>
export default {
  name: 'TheBox',
  props: {
    title: String,
    icon: String,
    link_to: String,
    customClass: String,
  },
  created () {
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
