<template>
  <div class="the-table">
    <section class="section">
      <b-table
        :loading="isLoading"
        :narrowed="isNarrowed"
        :striped="isStriped"
        :paginated="isPaginated"
        :per-page="perPage"
        :data="isEmpty ? [] : content">

        <template slot-scope="props">

          <b-table-column
            v-for="(column, index) in columns"
            :key="index"
            :field="column.field"
            :label="column.label">
            <span v-if="column.field === 'created_at' || column.field === 'updated_at'">
              {{ new Date(props.row[column.field]).toLocaleString('pt-BR') }}
            </span>
            <span v-else-if="column.field === 'published_at'">
              {{ new Date(props.row[column.field]).toLocaleDateString('pt-BR') }}
            </span>
            <span v-else-if="column.field === 'price'">
              {{ toBRLCurrency(props.row[column.field]) }} 
            </span>
            <span v-else-if="column.field === 'link'">
              <a :href="props.row[column.field]" target="_blank">Acesse aqui</a>
            </span>
            <span v-else>{{ props.row[column.field] }}</span>
          </b-table-column>

        </template>

				<template slot="empty">
					<section class="section">
						<div class="content has-text-grey has-text-centered">
							<p>
								<b-icon
									icon="emoticon-sad"
									size="is-large">
								</b-icon>
							</p>
							<p>Nenhum dado a ser apresentado.</p>
						</div>
					</section>
				</template>

      </b-table>
    </section>
  </div>
</template>

<script>

export default {
  name: 'TheTable',
  props: {
    title: String,
    content: Array,
    columns: Array,
    isLoading: Boolean,
    perPage: String
  },
  components: {
  },
  data ()  {
    return {
      isPaginated: false,
      isNarrowed: false,
      isStriped: true,
      isModalActive: false,
      obj: Object
    }
  },
  created () {},
  methods: {
  },
	computed: {
    isEmpty () {
      return (this.content.lenght == 0)
    },
		error () {
			return this.$store.state.branches.errorMessage 
		}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
