<template>
  <div class="frequency-form">
  <div class="columns">
    <div class="column">

      <p class="content"> 
        {{ user.name.toUpperCase() }} ({{ user.username }})<br />
        {{ user.responsability }} ({{ user.sector }})
      </p>

      <b-field label="Função" message="Caso não tenha, deixar em branco">
        <b-input id="role" name="role" v-model="role"></b-input>
      </b-field>
      
      <b-field label="Mês e ano">
        <b-datepicker
            type="month"
            v-model="month_and_year"
            placeholder="Selecione o mês e o ano">
        </b-datepicker>
      </b-field>

      <b-field label="Horário de trabalho">
        <b-input id="work_schedule" name="work_schedule" v-model="user.work_schedule"></b-input>
      </b-field>

      <b-field label="Jornada de trabalho semanal">
        <div class="block">
            <b-radio 
              v-model="user.work_load"
              native-value="40"
              name="work_load">
              40h 
            </b-radio>
            <b-radio 
              v-model="user.work_load"
              native-value="30"
              name="work_load">
              30h 
            </b-radio>
          </div>
      </b-field>

      <b-field label="Férias?">
        <div class="block">
            <b-radio v-model="vacation"
                name="vacation"
                native-value="n">
                Não
            </b-radio>
            <b-radio v-model="vacation"
                name="vacation"
                native-value="s">
                Sim
            </b-radio>
          </div>
      </b-field>

      <div v-if="vacation == 's'" style="margin-bottom:10px;">
        <b-field label="Selecione o período de férias">
          <b-datepicker
            range
            v-model="vacation_range">
          </b-datepicker>
        </b-field>
      </div>


    <the-form-buttons v-on:save="save" v-on:cancel="cancel"></the-form-buttons>

    </div> <!-- column -->
  </div> <!-- columns -->

  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'FrequencyForm',
  props: {
  },
  data: function ()  {
    return {
      role: '',
      vacation: 'n',
      month_and_year: new Date(),
      vacation_range: [],
    }
  },
  created () {
  },
  components: {
    'the-form-buttons': TheFormButtons
  },
  methods: {
    save () {
      var payload = {
        name: this.user.name,
        username: this.user.username,
        responsability: this.user.responsability,
        sector: this.user.sector,
        role: this.role,
        month: this.month_and_year.getMonth() + 1,
        year: this.month_and_year.getFullYear(),
        work_schedule: this.user.work_schedule,
        work_load: this.user.work_load,
        work_shift: this.user.work_shift,
        vacation: this.vacation,
      }
      if (this.vacation == 's') {
        payload['start_vacation'] = this.vacation_range[0].toLocaleString('pt-BR').slice(0,10)
        payload['end_vacation'] = this.vacation_range[1].toLocaleString('pt-BR').slice(0,10)
      }
      this.$store.dispatch('printReport', payload)
    },
    cancel () {
      this.$router.go(-1)
    },
    dateFormatter (date) {
      return date.toLocaleDateString('pt-BR')
    }
  },
  computed: {
    isAuthenticated () {
      return this.$store.getters.isAuthenticated 
    },
		user () {
			return this.$store.getters.user
		},
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
