<template>
  <div class="link-form">
    <section class="section">
      <b-field label="Link">
        <b-input v-model="link.link"></b-input>
      </b-field>
      <b-field label="Descrição">
        <b-input v-model="link.description"></b-input>
      </b-field>

      <the-form-buttons v-on:save="save" v-on:cancel="cancel"></the-form-buttons>
    </section>
  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'LinkForm',
  props: {
    link: Object,
    isEditing: Boolean
  },
  data: function ()  {
    return {}
  },
  created () {},
  components: {
    'the-form-buttons': TheFormButtons
  },
  methods: {
    save () {
      var payload = {
        csrftoken: this.$cookies.get('csrftoken'),
        link: this.link.link,
        description: this.link.description
      }
      if (this.isEditing) {
        payload.id = this.$route.params.pk
        this.$store.dispatch('updateLink', payload)
      } else {
        this.$store.dispatch('createLink', payload)
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
