<template>
  <div class="client-form">
    <section class="section">
      <b-field label="CNPJ">
        <b-input v-model="client.cnpj"></b-input>
      </b-field>
      <b-field label="Nome da empresa">
        <b-input v-model="client.name"></b-input>
      </b-field>
      <b-field label="Nome do contato">
        <b-input v-model="client.contact_name"></b-input>
      </b-field>
      <b-field label="E-mail do contato">
        <b-input v-model="client.contact_email"></b-input>
      </b-field>
      <b-field label="Telefone do contato">
        <b-input v-model="client.contact_phone"></b-input>
      </b-field>
       
      <the-form-buttons v-on:save="save" v-on:cancel="cancel"></the-form-buttons>
    </section>
  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'ClientForm',
  props: {
    client: Object,
    isEditing: Boolean 
  },
  data: function ()  {
    return {}
  },
  created () {},
  components: {
    'the-form-buttons': TheFormButtons
  },
  methods: {
    save () {
      var payload = {
        csrftoken: this.$cookies.get('csrftoken'),
        cnpj: this.client.cnpj,
        name: this.client.name,
        contact_name: this.client.contact_name,
        contact_email: this.client.contact_email,
        contact_phone: this.client.contact_phone
      }
      if (this.isEditing) {
        payload.id = this.$route.params.pk
        this.$store.dispatch('updateClient', payload)
      } else {
        this.$store.dispatch('createClient', payload)
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
