<template>
  <div class="create-clients">
    <div class="columns is-centered">
      <div class="column is-2">
        <the-sidebar />
      </div> <!-- column -->
      <div class="column">
        <div class="box">
          <the-header title="Cadastrar ramal" />
          <branch-form :branch="branch" :isEditing="isEditing"></branch-form>
        </div> <!-- box -->
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
</template>

<script>
import BranchForm from '@/views/Admin/Branches/components/BranchForm'

export default {
  name: 'CreateBranch',
  components: {
    'branch-form': BranchForm
  },
  data: function ()  {
    return {
      branch: {},
      isEditing: false
    }
  }
}
</script>
