<template>
  <div class="dentist-form">
    <student-data v-on:userChanged="userChanged($event, obj)" />

    <student-resume :student="student" />
    <div class="field"></div>

    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import StudentData from '@/views/Students/components/StudentData'
import StudentResume from '@/views/Students/components/StudentResume'

export default {
  name: 'AcademicEmailForm',
  props: {
    agenda: String,
  },
  data: function ()  {
    return {
      obj: false,
      isDisabled: true,
      student: false,
      scheduleResumeKey: 0
    }
  },
  created () {},
  components: {
    'student-data': StudentData,
    'student-resume': StudentResume
  },
  methods: {
    forceRerender ()  {
      this.scheduleResumeKey += 1;
    },
    userChanged (obj) {
      this.student = obj
    },
    save () {},
    cancel () {
      this.$router.go(-1)
    },
  },
  computed: {
    isAvailable () {
      return (this.student.studentregistration !== '') ? false : true
    },
    isLoading () {
      return this.$store.state.agenda.loading
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
