<template>
  <div class="internship-docs-form">
  <div class="columns">
    <div class="column">
      <div class="content">
        <!-- student data -->
        <h4>Dados do aluno <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h4>
        <b-field label="CPF e Matrícula" class="has-text-weight-bold" horizontal>
          <b-input
            id="studentCPF"
            name="studentCPF"
            v-model="studentForm.cpf"
            maxlength="11"
            expanded
            pattern="^(\d{11})$"
            validation-message="Apenas sequência numérica de 12 dígitos"
            placeholder="CPF"
            required
            value="">
          </b-input>
          <b-input
            id="studentRegistration"
            name="studentRegistration"
            v-model="studentForm.registration"
            maxlength="14"
            expanded
            pattern="^(\d{14}|\d{13})$"
            validation-message="Apenas sequência numérica de 14 dígitos"
            placeholder="Matrícula"
            required
            value="">
          </b-input>
          <!--
          <b-button
            type="is-primary"
            icon-left="account-search"
            @click="searchStudent()"
            expanded>
            Procurar
          </b-button>
          -->
        </b-field>

        <div class="other-fields" v-if="searchCompleted">
          <b-field label="Identidade" grouped horizontal>
            <b-input v-model="student.rg" :value="student.rg" placeholder="Identidade" expanded></b-input>
          </b-field>

          <b-field label="Nome completo" grouped horizontal>
            <b-input v-model="student.name" :value="student.name" placeholder="Nome completo" expanded></b-input>
          </b-field>

          <b-field label="Data de nascimento" grouped horizontal>
            <b-input v-model="student.birthday" :value="student.birthday" placeholder="Data de nascimento" expanded></b-input>
          </b-field>

          <b-field label="E-mail institucional" grouped horizontal>
            <b-input v-model="student.email_ifce" :value="student.email_ifce" placeholder="E-mail institucional" expanded></b-input>
          </b-field>

          <b-field label="Telefone" grouped horizontal>
            <b-input v-model="student.phone_1" :value="student.phone_1" placeholder="Telefone" expanded></b-input>
          </b-field>

          <b-field label="Superior ou Técnico?" horizontal>

            <b-radio-button v-model="student.course_type"
                native-value="Superior"
                type="is-primary">
                <span>Superior</span>
            </b-radio-button>

            <b-radio-button v-model="student.course_type"
                native-value="Técnico"
                type="is-primary">
                <span>Técnico</span>
            </b-radio-button>

          </b-field>

          <b-field label="Curso" horizontal>
            <b-input v-model="student.course" :value="student.course" placeholder="Curso" expanded></b-input>
          </b-field>

          <b-field
            label="Semestre do curso"
            message="O estágio deverá ocorrer de acordo com o período estabelecido com o PPC do seu curso. Caso esteja em dúvida, entre em contato com o coordenador do seu curso."
            horizontal>
            <b-input v-model="student.period" :value="student.period" placeholder="Semestre" expanded></b-input>
          </b-field>

          <b-field label="Endereço completo" grouped horizontal>
            <b-input v-model="student.address" :value="student.address" placeholder="Rua, Av.." expanded></b-input>
            <b-input v-model="student.street_number" :value="student.street_number" placeholder="Número" expanded></b-input>
            <b-input v-model="student.address_suplement" :value="student.addrress_suplement" placeholder="Complemento" expanded></b-input>
          </b-field>

          <b-field label="Bairro e CEP" grouped horizontal>
            <b-input v-model="student.address_neighborhood" :value="student.address_neighborhood" placeholder="Bairro" expanded></b-input>
            <b-input
              v-model="student.postal_code"
              :value="student.postal_code"
              placeholder="CEP"
              expanded></b-input>
          </b-field>

          <b-field label="Cidade e Estado" grouped horizontal>
            <b-input v-model="student.city" :value="student.city" placeholder="Cidade" expanded></b-input>
            <b-input
              v-model="student.state"
              :value="student.state"
              placeholder="Estado"
              expanded></b-input>
          </b-field>
        </div>

        <div class="other-fields" v-if="searchCompleted">
          <hr />
          <h4>Dados do estágio <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h4>

          <b-field label="Data de início e fim do estágio" horizontal>
            <b-datepicker
              v-model="internship.dates"
              locale="pt-BR"
              range
            ></b-datepicker>
          </b-field>

          <b-field label="Turno do estágio" horizontal>
            <b-checkbox-button v-model="internship.shift" type="is-primary" native-value="Manhã"><span>Manhã</span></b-checkbox-button>
            <b-checkbox-button v-model="internship.shift" type="is-primary" native-value="Tarde"><span>Tarde</span></b-checkbox-button>
            <b-checkbox-button v-model="internship.shift" type="is-primary" native-value="Noite"><span>Noite</span></b-checkbox-button>
          </b-field>

          <b-field label="Horário do estágio" horizontal>
            <b-timepicker
              v-model="internship.startTime"
              :value="internship.startTime"
              expanded placeholder="Início"
              :incrementMinutes="15"
            ></b-timepicker>
            <b-timepicker
              v-model="internship.endTime"
              :value="internship.endTime"
              expanded
              placeholder="Fim"
              :incrementMinutes="15"
            ></b-timepicker>
          </b-field>

          <b-field label="Estágio obrigatório?" horizontal>
            <b-radio-button v-model="internship.mode" native-value="1">Sim</b-radio-button>
            <b-radio-button v-model="internship.mode" native-value="0">Não</b-radio-button>
          </b-field>

          <b-field label="Apólice de seguro" horizontal v-if="internship.mode == 0">
            <b-input v-model="internship.ensurance" :value="internship.ensurance" placeholder="Número da apólice" expanded></b-input>
          </b-field>

          <b-field label="Companhia de seguro" horizontal v-if="internship.mode == 0">
            <b-input v-model="internship.ensurance_company" :value="internship.ensurance_company" placeholder="Companhia de seguro" expanded></b-input>
          </b-field>

          <b-field label="Tem remuneração?" horizontal>
            <b-radio-button v-model="internship.compensation" native-value="1">Sim</b-radio-button>
            <b-radio-button v-model="internship.compensation" native-value="0">Não</b-radio-button>
          </b-field>

          <b-field label="Valor da bolsa" horizontal v-if="internship.compensation == 1">
            <b-input v-model="internship.compensation_value" :value="internship.compensation_value" placeholder="Valor da bolsa" expanded></b-input>
          </b-field>

          <b-field label="Valor por extenso da bolsa" horizontal v-if="internship.compensation == 1">
            <b-input v-model="internship.compensation_written_value" :value="internship.compensation_written_value" placeholder="Valor por extenso da bolsa" expanded></b-input>
          </b-field>

          <b-field label="Tem auxílio transporte?" horizontal>
            <b-radio-button v-model="internship.transport_assistance" native-value="1">Sim</b-radio-button>
            <b-radio-button v-model="internship.transport_assistance" native-value="0">Não</b-radio-button>
          </b-field>

          <b-field label="Valor do auxílio transporte" horizontal v-if="internship.transport_assistance == 1">
            <b-input v-model="internship.transport_assistance_value" :value="internship.transport_assistance_value" placeholder="Valor do auxílio transporte" expanded></b-input>
          </b-field>

          <b-field label="Valor por extenso do auxílio transporte" horizontal v-if="internship.transport_assistance == 1">
            <b-input v-model="internship.transport_assistance_written_value" :value="internship.transport_assistance_written_value" placeholder="Valor por extenso do auxílio transporte" expanded></b-input>
          </b-field>

          <b-field label="Atividades a serem desenvolvidas no estágio" horizontal>
            <b-input type="textarea" v-model="internship.activities" :value="internship.activities" placeholder="No estágio terei as atividades..." expanded></b-input>
          </b-field>

          <b-field label="Resultados esperados" horizontal>
            <b-input type="textarea" v-model="internship.results" :value="internship.results" placeholder="Espero obter conhecimento na área..." expanded></b-input>
          </b-field>

        </div>
        <div class="other-fields" v-if="searchCompleted">
          <hr />
          <h4>
            Dados da entidade
            <span class="has-text-danger is-size-6">
              (todos os campos são obrigatórios)
            </span>
          </h4>

          <b-field label="Entidade e representante" horizontal>
            <b-input v-model="internship.company_name" :value="internship.company_name" placeholder="Nome da Entidade" expanded></b-input>
            <b-input v-model="internship.company_representative" :value="internship.company_representative" placeholder="Representante da Entidade" expanded></b-input>
          </b-field>

          <b-field label="CNPJ e Ramo" horizontal>
            <b-input v-model="internship.company_cnpj" :value="internship.company_cnpj" placeholder="CNPJ" expanded></b-input>
            <b-input v-model="internship.company_field" :value="internship.company_field" placeholder="Ramo de atividade da Entidade" expanded></b-input>
          </b-field>

          <b-field label="Telefone e e-mail" horizontal>
            <b-input v-model="internship.company_phone" :value="internship.company_phone" placeholder="Telefone da Entidade" expanded></b-input>
            <b-input v-model="internship.company_email" :value="internship.company_email" placeholder="E-mail da Entidade" expanded></b-input>
          </b-field>

          <b-field label="Endereço" horizontal>
            <b-input v-model="internship.company_address" :value="internship.company_address" placeholder="Rua, Av.." expanded></b-input>
            <b-input v-model="internship.company_street_number" :value="internship.company_street_number" placeholder="Número" expanded></b-input>
            <b-input v-model="internship.company_address_suplement" :value="internship.company_addrress_suplement" placeholder="Complemento" expanded></b-input>
          </b-field>

          <b-field label="Bairro e CEP" horizontal>
            <b-input v-model="internship.company_address_neighborhood" :value="internship.company_address_neighborhood" placeholder="Bairro" expanded></b-input>
            <b-input
              v-model="internship.company_postal_code"
              :value="internship.company_postal_code"
              placeholder="CEP"
              expanded></b-input>
          </b-field>

          <b-field label="Cidade e Estado" horizontal>
            <b-input v-model="internship.company_city" :value="internship.company_city" placeholder="Cidade" expanded></b-input>
            <b-input v-model="internship.company_state" :value="internship.company_state" placeholder="Estado" expanded></b-input>
          </b-field>

          <b-field
            label="Nome do supervisor do estágio"
            message="Este deve ser o nome do supervisor na empresa que você fará o estágio."
            horizontal>
              <b-input v-model="internship.company_supervisor_name" :value="internship.company_supervisor_name" placeholder="Nome do supervisor" expanded></b-input>
          </b-field>

          <b-field label="Telefone e cargo do supervisor do estágio" horizontal>
            <b-input v-model="internship.company_supervisor_phone" :value="internship.company_supervisor_phone" placeholder="Telefone do supervisor" expanded></b-input>
            <b-input v-model="internship.company_supervisor_position" :value="internship.company_supervisor_position" placeholder="Cargo do supervisor" expanded></b-input>
          </b-field>

          <b-field
            label="Setor de realização do estágio"
            message="Insira o nome do setor, por exemplo, Coordenação de Infraestrutura."
            horizontal>
              <b-input v-model="internship.execution" :value="internship.execution" placeholder="Setor de realização do estágio" expanded></b-input>
          </b-field>

        </div>

        <div class="other-fields" v-if="searchCompleted">
          <hr />
          <h4>
            Dados do professor/orientador do estágio
            <span class="has-text-danger is-size-6">
              (todos os campos são obrigatórios)
            </span>
          </h4>

          <p>Preencha os campos abaixo com as informações do professor ou
          orientador do estágio. Os dados dessa sessão diz respeito ao orientador/professor do IFCE.</p>

          <b-field label="Nome" horizontal>
            <b-input v-model="internship.advisor_name" :value="internship.advisor_name" placeholder="Nome completo" expanded></b-input>
          </b-field>

          <b-field label="E-mail e telefone" horizontal>
            <b-input v-model="internship.advisor_email" :value="internship.advisor_email" placeholder="E-mail" expanded></b-input>
            <b-input v-model="internship.advisor_phone" :value="internship.advisor_phone" placeholder="Telefone" expanded></b-input>
          </b-field>

        </div>

        <div class="other-fields" v-if="searchCompleted">
          <hr />
          <h4>Termo de consentimento</h4>
          <p class="has-text-justified">
          O aceite do termo visa registrar a manifestação livre, informada e
          inequívoca pela qual o Titular dos dados concorda com o tratamento de seus
          dados para finalidade específica, em conformidade com a Lei
          nº 13.709 – Lei Geral de Proteção de Dados Pessoais (LGPD).
          </p>
          <p class="has-text-justified">
          A única e exclusiva finalidade do sistema é coletar os dados e processá-los
          para gerar os documentos de ingresso, manutenção e finalização do Estágio.
          O Campus {{ campus }} não irá guardar nenhuma das informações inseridas no formulário.
          </p>
          <p class="has-text-justified">
          Ao assinar o presente termo, o Titular consente e concorda que o
          IFCE - Campus {{ campus }}, realize o tratamento dos dados,
          envolvendo operações como as que se referem a coleta e processamento.
          </p>
          <b-field>
            <b-radio
              v-model="condition_accepted"
              native-value="true"
              >
              Li e estou de acordo com as informações acima.
            </b-radio>
          </b-field>
        </div>
      </div>

      <b-notification
        type="is-danger is-light"
        v-if="errors"
        auto-close
        v-on:close="errors = false"
        role="alert">
        Alguns campos não foram preenchidos. <strong>Todos os campos</strong> são obrigatórios. Verifique o formulário novamente.
      </b-notification>

    <the-form-buttons v-on:save="save" v-on:cancel="cancel"></the-form-buttons>
      <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
    </div> <!-- column -->
  </div> <!-- columns -->

  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'BeginInternsipDocsForm',
  props: {
    stage: String,
    section: String,
  },
  data: function ()  {
    return {
      isDisabled: true,
      searchCompleted: true,
      inputWithErrors: [],
      inputErrorItem: "",
      errors: false,
      info: Object,
      studentForm: {
        cpf: '',
        registration: ''
      },
      internship: {
        shift: []
      },
      condition_accepted: false,
    }
  },
  created () {},
  components: {
    TheFormButtons
  },
  methods: {
    searchStudent () {
      var payload = {
        registration: this.studentForm.registration,
        cpf: this.studentForm.cpf
      }
      this.$store.dispatch('searchStudent', payload)
      this.searchCompleted = true
      this.student['cpf'] = this.studentForm.cpf
      this.student['registration'] = this.studentForm.registration
    },
    validateForm () {
      this.inputWithErrors = []
      var inputs = document.getElementsByTagName('input')
      for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].value.length == 0) {
          if (inputs[i].getAttribute("placeholder") == "Complemento") {
            continue
          }
          this.inputWithErrors.push(inputs[i].getAttribute("placeholder"))
        }
      }
      if (this.condition_accepted  && this.inputWithErrors.length == 0) {
        return true
      }
      return false
    },
    save () {
      this.student['cpf'] = this.studentForm.cpf
      this.student['student_registration'] = this.studentForm.registration
      if (this.validateForm()) {
        var payload = {
          student: this.student,
          internship: this.internship,
          stage: this.stage
        }
        this.$store.dispatch('printInternshipDocs', payload)
      } else {
        this.errors = true
      }
    },
    cancel () {
      this.$router.go(-1)
    },
    userChanged (obj) {
      this.student = obj
    },
    deleteStudentFile (index) {
      this.studentFiles.splice(index, 1)
    },
  },
  computed: {
    student () {
      return this.$store.state.students.student
    },
    isLoading () {
      return this.$store.state.agenda.loading
    },
    campus () {
      var t = process.env.VUE_APP_IF_CAMPUS.toLowerCase()
      return t.charAt(0).toUpperCase() + t.slice(1)
    }
  }
}

String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
