<template>
  <div class="internship-docs-form">
  <div class="columns">
    <div class="column">
      <div class="content">
        <!-- student data -->
        <h6>Observação</h6>
        <p>Escolha o <b>termo aditivo</b> caso você precise alterar o horário
        de estágio, se o valor da sua bolsa foi alterado, se o estágio foi
        prorrogado etc. Já o <b>relatório mensal</b> deve ser preenchido pelo(a)
        estagiário(a) todo mês.</p>

        <b-field label="Responda" horizontal>
            <b-radio-button v-model="local_user" native-value="relatorio-mensal"><span>Quero fazer meu relatório mensal</span></b-radio-button>
            <b-radio-button v-model="local_user" native-value="termo-aditivo"><span>Quero fazer um termo aditivo ao contrato</span></b-radio-button>
        </b-field>

        <div class="student-fields" v-if="local_user == 'relatorio-mensal'">
          <h6>Dados do aluno <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Nome completo" horizontal>
            <b-input v-model="student.name" :value="student.name" placeholder="Nome completo" expanded></b-input>
          </b-field>

          <b-field label="Curso" horizontal>
            <b-input v-model="student.course" :value="student.course" placeholder="Curso" expanded></b-input>
          </b-field>

          <b-field label="Telefone" grouped horizontal>
            <b-input v-model="student.phone_1" :value="student.phone_1" placeholder="Telefone" expanded></b-input>
          </b-field>

          <b-field label="Matrícula" class="has-text-weight-bold" horizontal>
            <b-input
              id="studentRegistration"
              name="studentRegistration"
              v-model="studentForm.registration"
              maxlength="14"
              expanded
              pattern="^(\d{14}|\d{13})$"
              validation-message="Apenas sequência numérica de 14 dígitos"
              placeholder="Matrícula"
              required
              value="">
            </b-input>
          </b-field>

          <h6>Dados da parte Concedente <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Nome" horizontal>
            <b-input v-model="internship.company_name" :value="internship.company_name" placeholder="Nome da Empresa" expanded></b-input>
          </b-field>

          <b-field
            label="Nome do supervisor do estágio"
            message="Este deve ser o nome do supervisor na empresa que você fará o estágio."
            horizontal>
              <b-input v-model="internship.company_supervisor_name" :value="internship.company_supervisor_name" placeholder="Nome do supervisor" expanded></b-input>
          </b-field>

          <h6>Dados do Estágio <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Nome do professor orientador" horizontal>
            <b-input v-model="internship.advisor_name" :value="internship.advisor_name" placeholder="Nome do professor orientador do estágio" expanded></b-input>
          </b-field>


          <b-field label="Mês e Ano do relatório" horizontal>
            <b-datepicker
              v-model="internship.date_report"
              type="month"
              locale="pt-BR"
              placeholder="Selecione o mês e o ano referente ao relatório"
              trap-focus>
            </b-datepicker>
          </b-field>

          <b-field
            label="Quantidade de horas estagiadas por dias"
            horizontal>
              <b-input
                maxlength="4"
                :has-counter="hasCounter"
                pattern="^(\d{1}|\d{2}|\d{3}|\d{4})$"
                validation-message="Apenas números de até 4 dígitos"
                v-model="internship.hours_per_day"
                :value="internship.hours_per_day"
                placeholder="Número de horas estagiados no dia, exemplo: 4" expanded></b-input>
          </b-field>

          <b-field
            label="Número de dias e horas estagiadas/mês"
            horizontal>
              <b-input
                maxlength="4"
                :has-counter="hasCounter"
                pattern="^(\d{1}|\d{2}|\d{3}|\d{4})$"
                validation-message="Apenas números de até 4 dígitos"
                v-model="internship.days_per_month"
                :value="internship.days_per_month"
                placeholder="Número de dias estagiados no mês, exemplo: 22" expanded></b-input>
              <b-input
                maxlength="4"
                :has-counter="hasCounter"
                pattern="^(\d{1}|\d{2}|\d{3}|\d{4})$"
                validation-message="Apenas números de até 4 dígitos"
                v-model="internship.hours_per_month"
                :value="internship.hours_per_month"
                placeholder="Número de horas estagiados no mês, exemplo: 100" expanded></b-input>
          </b-field>

          <b-field
            label="Número de horas acumuladas no estágio"
            horizontal>
              <b-input
                maxlength="4"
                :has-counter="hasCounter"
                pattern="^(\d{1}|\d{2}|\d{3}|\d{4})$"
                validation-message="Apenas números de até 4 dígitos"
                v-model="internship.total_hours"
                :value="internship.total_hours"
                placeholder="Número de horas estagiados no dia, exemplo: 22" expanded></b-input>
          </b-field>

          <b-field label="Descreva as principais atividades desempenhadas no estágio durante o mês" horizontal>
            <b-input type="textarea" rows="20" v-model="internship.activities" :value="internship.company_activities" placeholder="Ressalte as dificuldades encontradas e soluções adotadas. Informe os equipamentos, máquinas e instrumentos utilizados. As atividades deverão estar de acordo com aquelas previstas inicialmente no Termo de Compromisso do Estágio" expanded></b-input>
          </b-field>

        </div> <!-- student-fields -->

        <div class="termo-aditivo-fields" v-if="local_user == 'termo-aditivo'">
          <h6>Dados do aluno <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Nome completo" horizontal>
            <b-input v-model="student.name" :value="student.name" placeholder="Nome completo" expanded></b-input>
          </b-field>

          <b-field label="Curso" horizontal>
            <b-input v-model="student.course" :value="student.course" placeholder="Curso" expanded></b-input>
          </b-field>

          <b-field label="Matrícula" class="has-text-weight-bold" horizontal>
            <b-input
              id="studentRegistration"
              name="studentRegistration"
              v-model="studentForm.registration"
              maxlength="14"
              expanded
              pattern="^(\d{14}|\d{13})$"
              validation-message="Apenas sequência numérica de 14 dígitos"
              placeholder="Matrícula"
              required
              value="">
            </b-input>
          </b-field>

          <h6>Dados da parte Concedente <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Nome" horizontal>
            <b-input v-model="internship.company_name" :value="internship.company_name" placeholder="Nome da Empresa" expanded></b-input>
          </b-field>

          <h6>Dados do Contrato <span class="has-text-danger is-size-6">(escolha as opções que deseja alterar)</span></h6>

          <p>Você pode escolher apenas as opções que precisa alterar no
          contrato firmado anteriormente. Por exemplo, caso queira alterar
          <b>apenas</b> a opção <b>Alteração do valor da bolsa de
          Complementação Educacional</b>, você deve marcar apenas ela, incluir
          os dados requisitados pela opção e finalizar o preenchimento do
          formulário clicando em "Salvar".</p>

          <p>Caso queira mudar mais de uma opção, é possível, basta escolher as
          opções que deseja alterar e incluir os dados requisitados por cada
          uma das opções.</p>

          <b-field label="O que deseja alterar?">
              <b-checkbox v-model="contract.extension" type="is-primary" native-value="1"><span>Prorrogação do período de estágio</span></b-checkbox>
          </b-field>
          <b-field label="">
              <b-checkbox v-model="contract.workhour" type="is-primary" native-value="1"><span>Alteração do horário das atividades de estágio</span></b-checkbox>
          </b-field>
          <b-field label="">
              <b-checkbox v-model="contract.compensation" type="is-primary" native-value="1"><span>Alteração do valor da bolsa de Complementação Educacional</span></b-checkbox>
          </b-field>
          <b-field label="">
              <b-checkbox v-model="contract.supervisor" type="is-primary" native-value="1"><span>Alteração de supervisão de estágio</span></b-checkbox>
          </b-field>
          <b-field label="">
              <b-checkbox v-model="contract.activities" type="is-primary" native-value="1"><span>Alteração das atividades do estágio</span></b-checkbox>
          </b-field>
          <b-field label="">
              <b-checkbox v-model="contract.other" type="is-primary" native-value="1"><span>Outra alteração</span></b-checkbox>
          </b-field>

          <!-- prorrogacao do periodo de estagio -->
          <div class="box" v-if="contract.extension == 1">
            <p class="content">Escolha o período de prorrogação do estágio.</p>
            <b-field label="Período de prorrogação" horizontal>
              <b-datepicker
                v-model="contract.period"
                locale="pt-BR"
                range
              ></b-datepicker>
            </b-field>
            <p>Caso você esteja alterando o período de estágio, é <strong>mandatório</strong> alterar também as atividades
            desempenhadas no decorrer do estágio.</p>
          </div> <!-- box -->

          <!-- alteracao do horario das atividades do estagio -->
          <div class="box" v-if="contract.workhour== 1">

            <p class="content">Escolha o novo horário e os dias da semana do
            novo horário. Você pode dividir o horário em até três grupos. Por exemplo,
            você pode ter seu horário de estágio de 08h às 12h, nas segundas, quartas e sexta e
            de 13h às 17h nas terças e quintas. Nesse caso, escolha a opção <b>"em 2 grupos"</b></p>

            <b-field label="Turno do estágio" horizontal>
              <b-radio-button v-model="contract.group" type="is-primary" native-value="1"><span>em apenas 1 grupo</span></b-radio-button>
              <b-radio-button v-model="contract.group" type="is-primary" native-value="2"><span>em 2 grupos</span></b-radio-button>
              <b-radio-button v-model="contract.group" type="is-primary" native-value="3"><span>em 3 grupos</span></b-radio-button>
            </b-field>

            <b-field label="Horário do estágio (grupo 1)" horizontal v-if="contract.group == 1 || contract.group == 2 || contract.group == 3">
              <b-timepicker
                v-model="contract.startTime1"
                :value="contract.startTime1"
                expanded placeholder="Início"
                :incrementMinutes="15"
              ></b-timepicker>
              <b-timepicker
                v-model="contract.endTime1"
                :value="contract.endTime1"
                expanded
                placeholder="Fim"
                :incrementMinutes="15"
              ></b-timepicker>
            </b-field>

            <b-field label="Dias da semana (grupo 1)" horizontal v-if="contract.group == 1 || contract.group == 2 || contract.group == 3">
              <b-checkbox v-model="contract.weekdays1" native-value="Segunda-feira"><span>Segunda-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays1" native-value="Terça-feira"><span>Terça-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays1" native-value="Quarta-feira"><span>Quarta-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays1" native-value="Quinta-feira"><span>Quinta-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays1" native-value="Sexta-feira"><span>Sexta-Feira</span></b-checkbox>
            </b-field>

            <hr v-if="contract.group == 2 || contract.group == 3">
            <b-field label="Horário e dia da semana (grupo 2)" horizontal v-if="contract.group == 2 || contract.group == 3">
              <b-timepicker
                v-model="contract.startTime2"
                :value="contract.startTime2"
                expanded placeholder="Início"
                :incrementMinutes="15"
              ></b-timepicker>
              <b-timepicker
                v-model="contract.endTime2"
                :value="contract.endTime2"
                expanded
                placeholder="Fim"
                :incrementMinutes="15"
              ></b-timepicker>
            </b-field>

            <b-field label="Dias da semana (grupo 2)" horizontal v-if="contract.group == 2 || contract.group == 3">
              <b-checkbox v-model="contract.weekdays2" native-value="Segunda-feira"><span>Segunda-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays2" native-value="Terça-feira"><span>Terça-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays2" native-value="Quarta-feira"><span>Quarta-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays2" native-value="Quinta-feira"><span>Quinta-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays2" native-value="Sexta-feira"><span>Sexta-Feira</span></b-checkbox>
            </b-field>

            <hr v-if="contract.group == 3">
            <b-field label="Horário e dia da semana (grupo 3)" horizontal v-if="contract.group == 3">
              <b-timepicker
                v-model="contract.startTime3"
                :value="contract.startTime3"
                expanded placeholder="Início"
                :incrementMinutes="15"
              ></b-timepicker>
              <b-timepicker
                v-model="contract.endTime3"
                :value="contract.endTime3"
                expanded
                placeholder="Fim"
                :incrementMinutes="15"
              ></b-timepicker>
            </b-field>

            <b-field label="Dias da semana (grupo 3)" horizontal v-if="contract.group == 3">
              <b-checkbox v-model="contract.weekdays3" native-value="Segunda-feira"><span>Segunda-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays3" native-value="Terça-feira"><span>Terça-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays3" native-value="Quarta-feira"><span>Quarta-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays3" native-value="Quinta-feira"><span>Quinta-Feira</span></b-checkbox>
              <b-checkbox v-model="contract.weekdays3" native-value="Sexta-feira"><span>Sexta-Feira</span></b-checkbox>
            </b-field>

          </div> <!-- box /new work hour -->

          <!-- novo valor da bolsa -->
          <div class="box" v-if="contract.compensation == 1">
            <p class="content">Escolha a partir de que data você receberá o novo valor da bolsa. Informe também o valor e o valor por extenso.</p>

            <b-field label="Data de início do novo valor" horizontal>
              <b-datepicker
                v-model="contract.compensation_new_date"
                locale="pt-BR"
              ></b-datepicker>
            </b-field>

            <b-field label="Valor da bolsa" horizontal>
              <b-input v-model="contract.compensation_value" :value="contract.compensation_value" placeholder="Valor da bolsa, por exemplo 890,00" expanded></b-input>
            </b-field>

            <b-field label="Valor por extenso da bolsa" horizontal>
              <b-input v-model="contract.compensation_written_value" :value="contract.compensation_written_value" placeholder="Valor por extenso da bolsa" expanded></b-input>
            </b-field>

          </div> <!-- box /compensation -->

          <!-- novo supervisor do estagio -->
          <div class="box" v-if="contract.supervisor == 1">
            <p class="content">Escolha o seu novo supervisor na parte concedente.</p>

            <b-field label="Nome do novo supervisor" horizontal>
              <b-input v-model="contract.new_supervisor" :value="contract.new_supervisor" placeholder="Fulano de tal.." expanded></b-input>
            </b-field>

            <b-field label="Cargo do novo supervisor" horizontal>
              <b-input v-model="contract.new_supervisor_occupation" :value="contract.new_supervisor_occupation" placeholder="Gerente, Técnico.." expanded></b-input>
            </b-field>

          </div> <!-- box /new supervisor -->

          <!-- novas atividades no estagio -->
          <div class="box" v-if="contract.activities == 1">
            <p class="content">Indique quais serão suas novas atividades no estágio.</p>

            <b-field label="Atividades a serem desenvolvidas no estágio" horizontal>
              <b-input type="textarea" v-model="contract.new_activities" :value="contract.new_activities" placeholder="Minhas novas atribuições serão as seguintes.." expanded></b-input>
            </b-field>

          </div> <!-- box /new activities -->


          <!-- outras mudancas no contrato -->
          <div class="box" v-if="contract.other== 1">
            <p class="content">Indique quais os termos você, juntamente com a parte concedente desejam alterar.</p>

            <b-field label="Outras alterações" horizontal>
              <b-input type="textarea" v-model="contract.new_terms" :value="contract.new_terms" placeholder="Especifique quais as outras alterações" expanded></b-input>
            </b-field>

          </div> <!-- box /other -->


        </div> <!-- termo-aditivo-fields -->

        <div class="other-fields" v-if="local_user == 'relatorio-mensal' || local_user == 'termo-aditivo'">
          <hr />
          <h4>Termo de aceite</h4>
          <p class="has-text-justified">
          O aceite do termo visa registrar a manifestação livre, informada e
          inequívoca pela qual o Titular dos dados concorda com o tratamento de seus
          dados para finalidade específica, em conformidade com a Lei
          nº 13.709 – Lei Geral de Proteção de Dados Pessoais (LGPD).
          </p>
          <p class="has-text-justified">
          A única e exclusiva finalidade do sistema é coletar os dados e processá-los
          para gerar os documentos de ingresso, manutenção e finalização do Estágio.
          O Campus {{ campus }} não irá guardar nenhuma das informações inseridas no formulário.
          </p>
          <p class="has-text-justified">
          Ao assinar o presente termo, o Titular consente e concorda que o
          IFCE - Campus {{ campus }}, realize o tratamento dos dados,
          envolvendo operações como as que se referem a coleta e processamento.
          </p>
          <b-field>
            <b-radio
              v-model="condition_accepted"
              native-value="true"
              >
              Li e estou de acordo com as informações acima.
            </b-radio>
          </b-field>
        </div>
      </div>

      <b-notification
        type="is-danger is-light"
        v-if="errors"
        auto-close
        v-on:close="errors = false"
        role="alert">
        Alguns campos não foram preenchidos. <strong>Todos os campos</strong> são obrigatórios. Verifique o formulário novamente.
      </b-notification>

    <the-form-buttons
      v-on:save="save"
      v-on:cancel="cancel"
      v-if="local_user == 'relatorio-mensal' || local_user == 'termo-aditivo'">
    </the-form-buttons>

    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
    </div> <!-- column -->
  </div> <!-- columns -->

  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'InternsipDocsForm',
  props: {
    section: String,
  },
  data: function ()  {
    return {
      isDisabled: true,
      hasCounter: false,
      searchCompleted: false,
      inputWithErrors: [],
      inputErrorItem: "",
      errors: false,
      info: Object,
      studentForm: {
        cpf: '',
        registration: ''
      },
      internship: {},
      contract: {
        "weekdays1": [],
        "weekdays2": [],
        "weekdays3": []
      },
      condition_accepted: false,
      local_user: "",
      local_option: "",
      stage: ''
    }
  },
  created () {},
  components: {
    TheFormButtons
  },
  methods: {
    searchStudent () {
      var payload = {
        registration: this.studentForm.registration,
        cpf: this.studentForm.cpf
      }
      this.$store.dispatch('searchStudent', payload)
      this.searchCompleted = true
      this.student['cpf'] = this.studentForm.cpf
      this.student['registration'] = this.studentForm.registration
    },
    validateForm () {
      this.inputWithErrors = []
      var inputs = document.getElementsByTagName('input')
      for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].value.length == 0) {
          if (inputs[i].getAttribute("placeholder") == "Complemento") {
            continue
          }
          this.inputWithErrors.push(inputs[i].getAttribute("placeholder"))
        }
      }
      if (this.condition_accepted  && this.inputWithErrors.length == 0) {
        return true
      }
      return false
    },
    save () {
      this.student['cpf'] = this.studentForm.cpf
      this.student['student_registration'] = this.studentForm.registration
      if (this.local_user == 'relatorio-mensal') {
        this.stage = 'relatorio-mensal'
      } else if (this.local_user == 'termo-aditivo') {
        this.stage = 'termo-aditivo'
      }
      if (this.validateForm()) {
        var payload = {
          student: this.student,
          internship: this.internship,
          contract: this.contract,
          stage: this.stage
        }
        this.$store.dispatch('printDuringInternshipDocs', payload)
      } else {
        this.errors = true
      }
    },
    cancel () {
      this.$router.go(-1)
    },
    userChanged (obj) {
      this.student = obj
    },
    deleteStudentFile (index) {
      this.studentFiles.splice(index, 1)
    },
  },
  computed: {
    student () {
      return this.$store.state.students.student
    },
    isLoading () {
      return this.$store.state.agenda.loading
    },
    campus () {
      var t = process.env.VUE_APP_IF_CAMPUS.toLowerCase()
      return t.charAt(0).toUpperCase() + t.slice(1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
