<template>
  <div class="internship-docs-form">
  <div class="columns">
    <div class="column">
      <div class="content">
        <!-- student data -->

        <b-field label="Responda" horizontal>
          <b-radio-button v-model="local_user" native-value="tecnico"><span>Sou do curso técnico</span></b-radio-button>
          <b-radio-button v-model="local_user" native-value="superior"><span>Sou do curso superior</span></b-radio-button>
          <b-radio-button v-model="local_user" native-value="empresa"><span>Sou supervisor do(a) estagiário(a)</span></b-radio-button>
        </b-field>

        <div class="tecnico-fields" v-if="local_user == 'tecnico'">
          <h6>Dados do aluno <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Nome completo" horizontal>
            <b-input v-model="student.name" :value="student.name" placeholder="Nome completo" expanded></b-input>
          </b-field>

          <b-field label="Curso" horizontal>
            <b-input v-model="student.course" :value="student.course" placeholder="Curso" expanded></b-input>
          </b-field>

          <b-field label="Matrícula" class="has-text-weight-bold" horizontal>
            <b-input
              id="studentRegistration"
              name="studentRegistration"
              v-model="studentForm.registration"
              maxlength="14"
              expanded
              pattern="^(\d{14}|\d{13})$"
              validation-message="Apenas sequência numérica de 14 dígitos"
              placeholder="Matrícula"
              required
              value="">
            </b-input>
          </b-field>

          <h6>Dados da Empresa <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Empresa" horizontal>
            <b-input v-model="internship.company_name" :value="internship.company_name" placeholder="Nome da Empresa" expanded></b-input>
          </b-field>

          <b-field
            label="Nome do supervisor do estágio"
            message="Este deve ser o nome do supervisor na empresa que você fará o estágio."
            horizontal>
              <b-input v-model="internship.company_supervisor_name" :value="internship.company_supervisor_name" placeholder="Nome do supervisor" expanded></b-input>
          </b-field>

          <h6>Dados do Estágio <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Data de início e fim do estágio" horizontal>
            <b-datepicker
              v-model="internship.dates"
              locale="pt-BR"
              range
            ></b-datepicker>
          </b-field>

          <b-field
            label="Setor de realização do estágio"
            message="Insira o nome do setor, por exemplo, Coordenação de Infraestrutura."
            horizontal>
              <b-input v-model="internship.sector" :value="internship.sector" placeholder="Setor de realização do estágio" expanded></b-input>
          </b-field>

          <b-field label="Situação?" horizontal>
            <b-radio-button v-model="student.situation" native-value="Empregado">Empregado</b-radio-button>
            <b-radio-button v-model="student.situation" native-value="Estagiário">Estagiário</b-radio-button>
            <b-radio-button v-model="student.situation" native-value="Outro">Outro (especifique)</b-radio-button>
          </b-field>

          <b-field label="Especifique a situação" horizontal v-if="student.situation == 'Outro'">
            <b-input v-model="student.other_situation" :value="student.other_situation" placeholder="Situação (outro)" expanded></b-input>
          </b-field>

          <b-field label="Emprego decorrente do estágio?" horizontal v-if="student.situation == 'Empregado'">
            <b-radio-button v-model="student.job_situation" native-value="Sim">Sim</b-radio-button>
            <b-radio-button v-model="student.job_situation" native-value="Não">Não</b-radio-button>
          </b-field>

          <b-field label="Total de horas do estágio" horizontal>
            <b-input
              maxlength="4"
              pattern="^(\d{3}|\d{4})$"
              validation-message="Apenas sequência numérica de 3 ou 4 dígitos"
              v-model="internship.total_hours" :value="internship.total_hours" placeholder="exemplo, 280, 360.." expanded></b-input>
          </b-field>

          <b-field label="Obtenção do estágio?" horizontal>
            <b-radio-button v-model="internship.placement" native-value="IFCE">IFCE</b-radio-button>
            <b-radio-button v-model="internship.placement" native-value="Pelo aluno">Pelo aluno</b-radio-button>
            <b-radio-button v-model="internship.placement" native-value="Outro">Outro</b-radio-button>
          </b-field>

          <b-field label="Descreva as atividades desenvolvidas pela parte concedente do estágio:" horizontal>
            <b-input type="textarea" v-model="internship.company_activities" :value="internship.company_activities" placeholder="As atividades que a empresa desenvolve são.." expanded></b-input>
          </b-field>

          <b-field label="Enumere as atividades realizadas durante o seu período de estágio:" horizontal>
            <b-input type="textarea" v-model="internship.developed_activities" :value="internship.developed_activities" placeholder="No estágio eu desenvolvi as seguintes atividades" expanded></b-input>
          </b-field>

          <b-field
            label="Especifique as principais dificuldades encontradas durante seu estágio"
            message="Estabeleça uma comparação entre os conhecimentos técnicos adquiridos na instituição de ensino e as atividades práticas desenvolvidas na parte concedente do estágio"
            horizontal>
            <b-input type="textarea" v-model="internship.dificulties" :value="internship.dificulties" placeholder="As dificuldades que encontrei ao longo do estágio foram.." expanded></b-input>
          </b-field>

          <b-field label="A empresa oferece estrutura adequada para a realização do estágio?" horizontal>
            <b-input type="textarea" v-model="internship.company_qualities" :value="internship.company_qualities" placeholder="A empresa tem um ambiente.." expanded></b-input>
          </b-field>

          <b-field
            label="Conhecimentos adquiridos no estágio"
            message="Cite treinamentos, cursos, seminários, leituras de manuais, livros técnicos etc"
            horizontal>
            <b-input type="textarea" v-model="internship.acquired_skills" :value="internship.acquired_skills" placeholder="Durante o estágio realizei leituras referente.." expanded></b-input>
          </b-field>

          <b-field
            label="Avalie a assistência e orientação dada pela parte concedente para execução de suas atividades durante o estágio:"
            horizontal>
            <b-input type="textarea" v-model="internship.company_assistance" :value="internship.company_assistance" placeholder="Durante o estágio tive todo o apoio necessário..." expanded></b-input>
          </b-field>

          <b-field
            label="Avalie o acompanhamento de seu estágio pelo IFCE:"
            horizontal>
            <b-input type="textarea" v-model="internship.institution_assistance" :value="internship.institution_assistance" placeholder="O IFCE proporcionou.." expanded></b-input>
          </b-field>

          <b-field
            label="Opine sobre sua participação como estagiário da parte concedente:"
            horizontal>
            <b-input type="textarea" v-model="internship.self_avaliation_as_intern" :value="internship.self_avaliation_as_intern" placeholder="Minha opnião sobre meu estágio.." expanded></b-input>
          </b-field>

          <b-field
            label="Como se sente frente ao mercado de trabalho:"
            horizontal>
            <b-input type="textarea" v-model="internship.self_avaliation_as_employee" :value="internship.self_avaliation_as_employee" placeholder="Acredito estar preparado para o mercado de trabalho porque.." expanded></b-input>
          </b-field>

          <b-field
            label="Indique que assunto deve ser incluído ou excluído no seu curso. Justifique."
            horizontal>
            <b-input type="textarea" v-model="internship.subject_suggestion" :value="internship.subject_suggestion" placeholder="Durante o estágio aprendi bastante sobre os assuntos..." expanded></b-input>
          </b-field>

          <b-field
            label="Dê sugestões, a fim de que o IFCE melhore a qualidade de seu ensino."
            horizontal>
            <b-input type="textarea" v-model="internship.general_suggestion" :value="internship.general_suggestion" placeholder="Acredito que o IFCE possa melhorar nos seguintes quesitos..." expanded></b-input>
          </b-field>

        </div> <!-- tecnico-fields -->

        <div class="superior-fields" v-if="local_user == 'superior'">
          <h6>Dados do aluno <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Nome completo" horizontal>
            <b-input v-model="student.name" :value="student.name" placeholder="Nome completo" expanded></b-input>
          </b-field>

          <b-field label="Curso" horizontal>
            <b-input v-model="student.course" :value="student.course" placeholder="Curso" expanded></b-input>
          </b-field>

          <b-field label="Matrícula" class="has-text-weight-bold" horizontal>
            <b-input
              id="studentRegistration"
              name="studentRegistration"
              v-model="studentForm.registration"
              maxlength="14"
              expanded
              pattern="^(\d{14}|\d{13})$"
              validation-message="Apenas sequência numérica de 14 dígitos"
              placeholder="Matrícula"
              required
              value="">
            </b-input>
          </b-field>

          <hr />
          <h6>Dados da parte concedente <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Nome da parte concedente" horizontal>
            <b-input v-model="internship.company_name" :value="internship.company_name" placeholder="Nome da Empresa" expanded></b-input>
          </b-field>

          <b-field
            label="Nome do supervisor do estágio"
            message="Este deve ser o nome do supervisor na empresa que você fará o estágio."
            horizontal>
              <b-input v-model="internship.company_supervisor_name" :value="internship.company_supervisor_name" placeholder="Nome do supervisor" expanded></b-input>
          </b-field>

          <hr />
          <h6>Dados do Estágio <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Data de início e fim do estágio" horizontal>
            <b-datepicker
              v-model="internship.dates"
              locale="pt-BR"
              range
            ></b-datepicker>
          </b-field>

          <b-field
            label="Setor de realização do estágio"
            message="Insira o nome do setor, por exemplo, Coordenação de Infraestrutura."
            horizontal>
              <b-input v-model="internship.sector" :value="internship.sector" placeholder="Setor de realização do estágio" expanded></b-input>
          </b-field>

          <b-field label="Total de horas do estágio" horizontal>
            <b-input
              maxlength="4"
              pattern="^(\d{3}|\d{4})$"
              validation-message="Apenas sequência numérica de 3 ou 4 dígitos"
              v-model="internship.total_hours" :value="internship.total_hours" placeholder="exemplo, 280, 360.." expanded></b-input>
          </b-field>

          <b-field label="Descreva as atividades desenvolvidas pela parte concedente do estágio:" horizontal>
            <b-input type="textarea" v-model="internship.company_activities" :value="internship.company_activities" placeholder="As atividades que a empresa desenvolve são.." expanded></b-input>
          </b-field>

          <b-field label="Descrever as dificuldades encontradas no estágio" horizontal>
            <b-input type="textarea" v-model="internship.dificulties" :value="internship.dificulties" placeholder="As dificuldades que encontrei ao longo do estágio foram.." expanded></b-input>
          </b-field>

          <b-field label="Faça um paralelo entre o aprendizado recebido no IFCE e a experiência vivenciada no estágio" horizontal>
            <b-input type="textarea" v-model="internship.compare" :value="internship.compare" placeholder="O que notei de diferente entre o IFCE e o estágio..." expanded></b-input>
          </b-field>

          <span class="label">Faça uma avaliação do nível de desenvolvimento das habilidades abaixo que o estágio lhe proporcionou</span>

          <b-field label="Conhecimentos Gerais e Técnicos" horizontal>
            <b-radio-button v-model="internship.score_general_knowledge" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_general_knowledge" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_general_knowledge" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_general_knowledge" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Iniciativa" horizontal>
            <b-radio-button v-model="internship.score_initiative" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_initiative" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_initiative" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_initiative" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Criatividade" horizontal>
            <b-radio-button v-model="internship.score_criativity" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_criativity" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_criativity" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_criativity" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Descrição (Ética)" horizontal>
            <b-radio-button v-model="internship.score_ethics" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_ethics" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_ethics" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_ethics" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Organização e método de trabalho" horizontal>
            <b-radio-button v-model="internship.score_organization" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_organization" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_organization" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_organization" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Sociabilidade e Desempenho" horizontal>
            <b-radio-button v-model="internship.score_social" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_social" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_social" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_social" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Cooperação" horizontal>
            <b-radio-button v-model="internship.score_cooperation" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_cooperation" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_cooperation" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_cooperation" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Liderança" horizontal>
            <b-radio-button v-model="internship.score_leadership" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_leadership" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_leadership" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_leadership" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Assiduidade e Pontualidade" horizontal>
            <b-radio-button v-model="internship.punctuality" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.punctuality" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.punctuality" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.punctuality" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Responsabilidade" horizontal>
            <b-radio-button v-model="internship.takes_responsibility" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.takes_responsibility" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.takes_responsibility" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.takes_responsibility" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Integração" horizontal>
            <b-radio-button v-model="internship.score_integration" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_integration" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_integration" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_integration" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Envolvimento nas tarefas" horizontal>
            <b-radio-button v-model="internship.score_engagement" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_engagement" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_engagement" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_engagement" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Capacidade de gerenciamento" horizontal>
            <b-radio-button v-model="internship.score_management" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_management" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_management" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_management" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Considerações finais" horizontal>
            <b-input type="textarea" v-model="internship.final_considerations" :value="internship.final_considerations" placeholder="" expanded></b-input>
          </b-field>

        </div> <!-- superior-fields -->

        <div class="empresa-fields" v-if="local_user == 'empresa'">
          <h6>Dados do aluno <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="CPF e Matrícula" class="has-text-weight-bold" horizontal>
            <b-input
              id="studentCPF"
              name="studentCPF"
              v-model="studentForm.cpf"
              maxlength="11"
              expanded
              pattern="^(\d{11})$"
              validation-message="Apenas sequência numérica de 12 dígitos"
              placeholder="CPF"
              required
              value="">
            </b-input>
            <b-input
              id="studentRegistration"
              name="studentRegistration"
              v-model="studentForm.registration"
              maxlength="14"
              expanded
              pattern="^(\d{14}|\d{13})$"
              validation-message="Apenas sequência numérica de 14 dígitos"
              placeholder="Matrícula"
              required
              value="">
            </b-input>
          </b-field>

          <b-field label="Nome completo" horizontal>
            <b-input v-model="student.name" :value="student.name" placeholder="Nome completo" expanded></b-input>
          </b-field>

          <b-field label="E-mail institucional" grouped horizontal>
            <b-input v-model="student.email_ifce" :value="student.email_ifce" placeholder="E-mail institucional" expanded></b-input>
          </b-field>

          <b-field label="Telefone" grouped horizontal>
            <b-input v-model="student.phone_1" :value="student.phone_1" placeholder="Telefone" expanded></b-input>
          </b-field>

          <b-field label="Identidade" grouped horizontal>
            <b-input v-model="student.rg" :value="student.rg" placeholder="Identidade" expanded></b-input>
          </b-field>

          <b-field label="Curso" horizontal>
            <b-input v-model="student.course" :value="student.course" placeholder="Curso" expanded></b-input>
          </b-field>

          <b-field label="Data de nascimento" grouped horizontal>
            <b-input v-model="student.birthday" :value="student.birthday" placeholder="Data de nascimento" expanded></b-input>
          </b-field>

          <b-field label="Endereço completo" grouped horizontal>
            <b-input v-model="student.address" :value="student.address" placeholder="Rua, Av.." expanded></b-input>
            <b-input v-model="student.street_number" :value="student.street_number" placeholder="Número" expanded></b-input>
            <b-input v-model="student.address_suplement" :value="student.addrress_suplement" placeholder="Complemento" expanded></b-input>
          </b-field>

          <hr />
          <h6>Dados da parte concedente <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Nome da parte concedente" horizontal>
            <b-input v-model="internship.company_name" :value="internship.company_name" placeholder="Nome da Empresa" expanded></b-input>
          </b-field>

          <b-field label="Ramo de atividade da parte concedente" horizontal>
            <b-input v-model="internship.company_field" :value="internship.company_field" placeholder="Ramo de atividade da empresa" expanded></b-input>
          </b-field>

          <b-field label="Endereço" horizontal>
            <b-input v-model="internship.company_address" :value="internship.company_address" placeholder="Rua, Av.." expanded></b-input>
            <b-input v-model="internship.company_street_number" :value="internship.company_street_number" placeholder="Número" expanded></b-input>
            <b-input v-model="internship.company_address_suplement" :value="internship.company_addrress_suplement" placeholder="Complemento" expanded></b-input>
          </b-field>

          <b-field label="Bairro e CEP" horizontal>
            <b-input v-model="internship.company_address_neighborhood" :value="internship.company_address_neighborhood" placeholder="Bairro" expanded></b-input>
            <b-input
              v-model="internship.company_postal_code"
              :value="internship.company_postal_code"
              placeholder="CEP"
              expanded></b-input>
          </b-field>

          <b-field label="Cidade e Estado" horizontal>
            <b-input v-model="internship.company_city" :value="internship.company_city" placeholder="Cidade" expanded></b-input>
            <b-input v-model="internship.company_state" :value="internship.company_state" placeholder="Estado" expanded></b-input>
          </b-field>

          <b-field
            label="Nome do supervisor do estágio"
            message="Este deve ser o nome do supervisor na empresa que você fará o estágio."
            horizontal>
              <b-input v-model="internship.company_supervisor_name" :value="internship.company_supervisor_name" placeholder="Nome do supervisor" expanded></b-input>
          </b-field>

          <b-field label="Telefone e cargo do supervisor do estágio" horizontal>
            <b-input v-model="internship.company_supervisor_phone" :value="internship.company_supervisor_phone" placeholder="Telefone do supervisor" expanded></b-input>
            <b-input v-model="internship.company_supervisor_position" :value="internship.company_supervisor_position" placeholder="Cargo do supervisor" expanded></b-input>
          </b-field>


          <hr />
          <h6>Avaliação do(a) Estagiário(a) <span class="has-text-danger is-size-6">(todos os campos são obrigatórios)</span></h6>

          <b-field label="Relacione as principais tarefas executadas pelo(a) estagiário(a)" horizontal>
            <b-input type="textarea" v-model="internship.developed_activities" :value="internship.developed_activities" placeholder="O estagiário tinha como principal atividade desenvolver..." expanded></b-input>
          </b-field>

          <!--<b-field label="Desempenho funcional do(a) estagiário(a)" class="has-text-left" horizontal>
          </b-field>
          -->
          <span class="label has-text-centered">Desempenho funcional do estagiário</span>

          <b-field label="Aprendizagem" horizontal>
            <b-radio-button v-model="internship.score_learning" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_learning" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_learning" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_learning" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Segurança na execucão do trabalho" horizontal>
            <b-radio-button v-model="internship.score_security" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_security" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_security" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_security" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Interesse" horizontal>
            <b-radio-button v-model="internship.score_interest" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_interest" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_interest" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_interest" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Iniciativa Própria" horizontal>
            <b-radio-button v-model="internship.score_proactivity" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_proactivity" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_proactivity" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_proactivity" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Conhecimentos Técnicos" horizontal>
            <b-radio-button v-model="internship.score_practical_knowledge" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_practical_knowledge" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_practical_knowledge" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_practical_knowledge" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Qualidade e Produtividade" horizontal>
            <b-radio-button v-model="internship.score_productivity" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_productivity" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_productivity" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_productivity" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Disciplina" horizontal>
            <b-radio-button v-model="internship.score_discipline" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.score_discipline" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.score_discipline" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.score_discipline" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Relacionamento Interpessoal" horizontal>
            <b-radio-button v-model="internship.interpersonal_relationship" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.interpersonal_relationship" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.interpersonal_relationship" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.interpersonal_relationship" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Assume a responsabilidade de seus atos" horizontal>
            <b-radio-button v-model="internship.takes_responsability" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.takes_responsability" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.takes_responsability" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.takes_responsability" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Pontualidade" horizontal>
            <b-radio-button v-model="internship.punctuality" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.punctuality" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.punctuality" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.punctuality" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="Assiduidade" horizontal>
            <b-radio-button v-model="internship.attendance" native-value="awesome"><span>Ótimo</span></b-radio-button>
            <b-radio-button v-model="internship.attendance" native-value="good"><span>Bom</span></b-radio-button>
            <b-radio-button v-model="internship.attendance" native-value="regular"><span>Regular</span></b-radio-button>
            <b-radio-button v-model="internship.attendance" native-value="insufficient"><span>Insuficiente</span></b-radio-button>
          </b-field>

          <b-field label="A parte concedente fez a avaliação do estágio através de" horizontal>
            <b-input type="textarea" v-model="internship.avaliation_methods" :value="internship.avaliation_methods" placeholder="Reuniões, relatórios..." expanded></b-input>
          </b-field>

          <b-field label="Data de início e fim do estágio" horizontal>
            <b-datepicker
              v-model="internship.dates"
              locale="pt-BR"
              range
            ></b-datepicker>
          </b-field>

          <b-field label="Total de horas do estágio" horizontal>
            <b-input
              maxlength="4"
              pattern="^(\d{3}|\d{4})$"
              validation-message="Apenas sequência numérica de 3 ou 4 dígitos"
              v-model="internship.total_hours" :value="internship.total_hours" placeholder="exemplo, 280, 360.." expanded></b-input>
          </b-field>

          <b-field label="Apresente sugestões para alteração de matrizes curriculares e ofertas de novos cursos" horizontal>
            <b-input type="textarea" v-model="internship.general_suggestions" :value="internship.general_suggestions" placeholder="Poderia ser incluído disciplinas que abordem..." expanded></b-input>
          </b-field>


        </div> <!-- empresa-fields -->

        <div class="other-fields" v-if="searchCompleted">
          <hr />
          <h4>
            Dados da empresa
            <span class="has-text-danger is-size-6">
              (todos os campos são obrigatórios)
            </span>
          </h4>


          <b-field label="CNPJ" horizontal>
            <b-input v-model="internship.company_cnpj" :value="internship.company_cnpj" placeholder="CNPJ" expanded></b-input>
          </b-field>

        </div>

        <div class="other-fields" v-if="searchCompleted">
          <hr />
          <h4>
            Dados do professor/orientador do estágio
            <span class="has-text-danger is-size-6">
              (todos os campos são obrigatórios)
            </span>
          </h4>

          <p>Preencha os campos abaixo com as informações do professor ou
          orientador do estágio. Os dados dessa sessão diz respeito ao orientador/professor do IFCE.</p>

          <b-field label="Nome" horizontal>
            <b-input v-model="internship.advisor_name" :value="internship.advisor_name" placeholder="Nome completo" expanded></b-input>
          </b-field>

          <b-field label="E-mail e telefone" horizontal>
            <b-input v-model="internship.advisor_email" :value="internship.advisor_email" placeholder="E-mail" expanded></b-input>
            <b-input v-model="internship.advisor_phone" :value="internship.advisor_phone" placeholder="Telefone" expanded></b-input>
          </b-field>

        </div>


        <div class="other-fields" v-if="local_user == 'tecnico' || local_user == 'empresa' || local_user == 'superior'">
          <hr />
          <h4>Termo de aceite</h4>
          <p class="has-text-justified">
          O aceite do termo visa registrar a manifestação livre, informada e
          inequívoca pela qual o Titular dos dados concorda com o tratamento de seus
          dados para finalidade específica, em conformidade com a Lei
          nº 13.709 – Lei Geral de Proteção de Dados Pessoais (LGPD).
          </p>
          <p class="has-text-justified">
          A única e exclusiva finalidade do sistema é coletar os dados e processá-los
          para gerar os documentos de ingresso, manutenção e finalização do Estágio.
          O Campus {{ campus }} não irá guardar nenhuma das informações inseridas no formulário.
          </p>
          <p class="has-text-justified">
          Ao assinar o presente termo, o Titular consente e concorda que o
          IFCE - Campus {{ campus }}, realize o tratamento dos dados,
          envolvendo operações como as que se referem a coleta e processamento.
          </p>
          <b-field>
            <b-radio
              v-model="condition_accepted"
              native-value="true"
              >
              Li e estou de acordo com as informações acima.
            </b-radio>
          </b-field>
        </div>
      </div>

      <b-notification
        type="is-danger is-light"
        v-if="errors"
        auto-close
        v-on:close="errors = false"
        role="alert">
        Alguns campos não foram preenchidos. <strong>Todos os campos</strong> são obrigatórios. Verifique o formulário novamente.
      </b-notification>

    <the-form-buttons
      v-on:save="save"
      v-on:cancel="cancel"
      v-if="local_user == 'tecnico' || local_user == 'empresa' || local_user == 'superior'">
    </the-form-buttons>

    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
    </div> <!-- column -->
  </div> <!-- columns -->

  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'InternsipDocsForm',
  props: {
    section: String,
  },
  data: function ()  {
    return {
      isDisabled: true,
      searchCompleted: false,
      inputWithErrors: [],
      inputErrorItem: "",
      errors: false,
      info: Object,
      studentForm: {
        cpf: '',
        registration: ''
      },
      internship: {},
      condition_accepted: false,
      local_user: "",
      stage: ''
    }
  },
  created () {},
  components: {
    TheFormButtons
  },
  methods: {
    searchStudent () {
      var payload = {
        registration: this.studentForm.registration,
        cpf: this.studentForm.cpf
      }
      this.$store.dispatch('searchStudent', payload)
      this.searchCompleted = true
      this.student['cpf'] = this.studentForm.cpf
      this.student['registration'] = this.studentForm.registration
    },
    validateForm () {
      this.inputWithErrors = []
      var inputs = document.getElementsByTagName('input')
      for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].value.length == 0) {
          if (inputs[i].getAttribute("placeholder") == "Complemento") {
            continue
          }
          this.inputWithErrors.push(inputs[i].getAttribute("placeholder"))
        }
      }
      if (this.condition_accepted  && this.inputWithErrors.length == 0) {
        return true
      }
      return false
    },
    save () {
      this.student['cpf'] = this.studentForm.cpf
      this.student['student_registration'] = this.studentForm.registration
      if (this.local_user == 'tecnico') {
        this.stage = 'fim'
        this.student.course_type = 'Técnico'
      } else if (this.local_user == 'empresa') {
        this.stage = 'fim-empresa'
      } else if (this.local_user == 'superior') {
        this.stage = 'relatorio-final'
      }
      if (this.validateForm()) {
        var payload = {
          student: this.student,
          internship: this.internship,
          stage: this.stage
        }
        this.$store.dispatch('printEndingInternshipDocs', payload)
      } else {
        this.errors = true
      }
    },
    cancel () {
      this.$router.go(-1)
    },
    userChanged (obj) {
      this.student = obj
    },
    deleteStudentFile (index) {
      this.studentFiles.splice(index, 1)
    },
  },
  computed: {
    student () {
      return this.$store.state.students.student
    },
    isLoading () {
      return this.$store.state.agenda.loading
    },
    campus () {
      var t = process.env.VUE_APP_IF_CAMPUS.toLowerCase()
      return t.charAt(0).toUpperCase() + t.slice(1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
