<template>
  <div class="request-degree-form">
  <div class="columns">
    <div class="column">

    <b-field label="Nome completo">
      <b-input
        id="studentName"
        name="studentName"
        v-model="studentName"
        expanded
        required
        value="">
      </b-input>
    </b-field>

    <b-field label="Curso">
      <b-input
        id="studentCourse"
        name="studentCourse"
        v-model="studentCourse"
        expanded
        required
        value="">
      </b-input>
    </b-field>

    <b-field label="Matrícula">
      <b-input
        id="studentRegistration"
        name="studentRegistration"
        v-model="studentRegistration"
        maxlength="14"
        expanded
        pattern="^(\d{14}|\d{13})$"
        validation-message="Apenas sequência numérica"
        required
        value="">
      </b-input>
    </b-field>

    <b-field label="Email">
      <b-input
        id="studentEmail"
        name="studentEmail"
        v-model="studentEmail"
        expanded
        required
        type="email"
        value="">
      </b-input>
    </b-field>

    <b-field label="Telefone">
      <b-input
        type="text"
        v-model="studentPhone"
        name="studentPhone"
        validation-message="Coloque um telefone válido"
        maxlength="11"
        pattern="^(\d{9}|\d{11})$"
        required>
      </b-input>
    </b-field>

    <b-field label="Descrição da solicitação">
      <b-input
        id="studentRequest"
        name="studentRequest"
        v-model="studentRequest"
        expanded
        required
        value="">
      </b-input>
    </b-field>

    <b-field label="Documentos exigidos" class="has-text-left"></b-field>
    <b-field class="has-text-centered">
      <b-upload
        expanded
        multiple
        drag-drop
        accept="application/pdf"
        v-model="studentFiles">
        <section class="section">
          <div class="content has-text-centered">
            <p>
              <b-icon icon="upload" size="is-large"></b-icon>
            </p>
            <p>Clique aqui para selecionar os arquivos no seu dispositivo</p>
          </div>
        </section>
      </b-upload>
    </b-field>
    <div class="tags">
      <span
        v-for="(file, index) in studentFiles"
        :key="index"
        class="tag is-primary">
        {{ file.name }}
        <button
          class="delete is-small"
          type="button"
          @click="deleteStudentFile(index)">
        </button>
      </span>
    </div> <!-- tags -->

    <the-form-buttons v-on:save="save" v-on:cancel="cancel"></the-form-buttons>
      <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
    </div> <!-- column -->
  </div> <!-- columns -->

  </div>
</template>

<script>
import TheFormButtons from '@/components/TheFormButtons'

export default {
  name: 'RequestDegreeForm',
  props: {
    section: String,
  },
  data: function ()  {
    return {
      studentName: '',
      studentRegistration: '',
      studentCourse: '',
      studentEmail: '',
      studentPhone: '',
      studentRequest: '',
      studentFiles: [],
      student: false,
      isDisabled: true,
      info: Object
    }
  },
  created () {},
  components: {
    TheFormButtons
  },
  methods: {
    save () {
      var payload = {
        name: this.studentName,
        course: this.studentCourse,
        registration: this.studentRegistration,
        email: this.studentEmail,
        phone: this.studentPhone,
        request: this.studentRequest,
        files: this.studentFiles,
        queue: 'cca',
        emailto: 'suporte.quixada@ifce.edu.br'
        // TODO change email to cca specific
      }

      this.$store.dispatch('sendRequestDegreeMail', payload)

    },
    cancel () {
      this.$router.go(-1)
    },
    userChanged (obj) {
      this.student = obj
    },
    deleteStudentFile (index) {
      this.studentFiles.splice(index, 1)
    },
  },
  computed: {
    isLoading () {
      return this.$store.state.agenda.loading
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
