<template>
  <div class="agenda-form">
  <div class="columns">
    <div class="column">

    <div v-if="section == 'academic-email'">
      <academic-email-form />
    </div>
    <div v-else>
      <psycho-form />
    </div>

    </div> <!-- column -->
  </div> <!-- columns -->

  </div>
</template>

<script>
import AcademicEmailForm from '@/views/Students/components/AcademicEmailForm'
import PsychoForm from '@/views/Agenda/components/DentistForm'

export default {
  name: 'StudentForm',
  props: {
    section: String,
  },
  data: function ()  {
    return {
      info: Object
    }
  },
  created () {},
  components: {
    'academic-email-form': AcademicEmailForm,
    'psycho-form': PsychoForm,
  },
  methods: {},
  computed: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
