<template>
  <div class="student-resume">
    <hr />
    <h6 class="subtitle">Detalhes do aluno</h6>
    <div v-animate-css="'fadeIn'">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <ul class="unlisted">
            <li><strong>Nome:</strong> {{ student.name }} </li>
            <li><strong>Matrícula:</strong> {{ student.student_registration }} </li>
            <li v-if="student.email_ifce"><strong>E-mail (acadêmico):</strong> {{ student.email_ifce }} </li>
            <li><strong>Telefone (principal):</strong> {{ formated_phone(student.phone_1) }} </li>
          </ul>
        </div> <!-- column -->
      </div> <!-- columns -->
      <b-notification
        type="is-info"
        has-icon
        aria-close="Fechar notificação">
        Caso alguma das informações acima não esteja correta, procure a CCA do Campus para que seu cadastro
        seja atualizado. É de extrema importância manter os dados atualizados.
      </b-notification>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StudentResume',
  props: {
    student: Object,
  },
  data: function ()  {
    return {
    }
  },
  created () {},
  components: {},
  methods: {
    formated_phone (phone)  {
      return "( " + phone.slice(0, 2) + ") " + phone.slice(2)
    }
  },
  computed: {}
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="css">
</style>
