<template>
  <div id="app">
    <the-navbar />
    <div class="container">
    <div class="columns">

      <div class="column is-one-fifth">
        <the-sidebar/>
      </div> <!-- column menu -->

      <div class="column">
        <slot/>
      </div> <!-- column content -->

    </div> <!-- columns -->
    </div> <!-- container -->
  </div>
</template>

<script>
export default {
  name: 'LayoutDefault',
  props: {
  },
  created() {}
}
</script>

<style lang="scss">
</style>
