// if.scss

.site {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.site-footer {
  flex: none; /* 2 */
}

.site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

.menu-list a.router-link-exact-active {
  background: $primary;
  color: #fff;
}

.menu-list a.router-link-exact-active:hover {
  background: $primary;
  color: #fff;
}

@media (--break-lg) {
  .site-content {
    padding-top: var(--space-lg);
  }
  .site-content::after {
    margin-top: var(--space-lg);
  }
}

.site-content--full {
  padding: 0;
}
.site-content--full::after {
  content: none;
}

.margin-5 {
  margin: 5px;
}
